.category-productDiscount{
	padding: 0 0 50px;
	.category-productDiscount-content{
	    padding: 0 0 10px;
		border-bottom: 1px solid $colorD9DDE8;
	}
}

.productDiscount-listView{
	padding: 30px 0 0;
}
.category-productDiscount-nav{
	position: relative;
	.category-productDiscount-nav__list{

	}
	.category-productDiscount-nav__item{
	    white-space: nowrap;
		height: 40px;
		padding: 5px 20px 6px;
		background: $colorF2F3F5;
		@include border-radius(50px);
		margin: 0 11px 11px 0;
		a{
			color: $color454545;
			font-size: 16px;
			font-weight: 500;
			line-height: 18px;
		}
		&:hover{
			background: $colorE0EAF4;
		}
		&.active{
			background: $color0074FF;
			a{
				color: $colorWhite;
			}
		}
	}
	.category-productDiscount-nav__but{
		display: none;
		width: 192px;
		height: 40px;
		margin: 0 0 11px;
		text-align: center;
		.but-link{
			img{
				width: 8px;
				height: 4px;
				margin: 0 0 0 5px;
			}
			span{
				border-bottom: 1px solid $color0074FF;
				span{
					border: none;
				}
			}
			&:after{
				display: none;
			}
		}
	}
	&.btn-active{
		height: 40px;
		overflow: hidden;
		.category-productDiscount-nav__list{
			width: calc(100% - 192px);
			@include flex-wrap(wrap);
		}
		.category-productDiscount-nav__but{
			@include flexbox();
		}
		&.active{
			height: auto;
			.category-productDiscount-nav__but{
				.but-link{
					img{
						@include transform(rotate(180deg));
					}
				}
			}
		}
	}
}

.category-productDiscount-content{
	position: relative;
	min-height: 100px;
	&.productDiscount-loading{
		pointer-events: none;
		height: auto;
		.product-box-badge__item, .yupe-store-favorite-add, .yupe-store-favorite-remove{
			opacity: 0;
		}
		.product-box__img, .discount-percent, .product-name, .product-box__but, .product-price__res, .strikethrough{
			position: relative;
			display: block;
			&:after{
				content: '';
				position: absolute;
				z-index: 1;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($colorF5F5F5, 1);
			}
		}
		.product-box__favorite{
			opacity: 0;
		}
		.slick-prev, .slick-next{
			opacity: 0 !important;
		}
		.imagesDots-list{
			.imagesDots-list__item{
				background: $colorF5F5F5 !important;
			}
		}

		&:after{
			content: '';
			position: absolute;
		    z-index: 10;
	       	top: 20px;
    		left: 5px;
		    width: 35px;
    		height: 35px;
			background: url("../images/ajax-loader.gif") center center no-repeat;
		}
	}
}

@media (max-width: 1240px){
	.category-productDiscount-nav{
		.category-productDiscount-nav__item{
			height: 40px;
			padding: 4px 16px 5px;
			@include border-radius(50px);
			margin: 0 9px 9px 0;
			a{
				font-size: 15px;
				line-height: 17px;
			}
		}
		.category-productDiscount-nav__but{
			width: 180px;
			height: 40px;
			margin: 0 0 9px;
		}
		&.btn-active{
			height: 40px;
			.category-productDiscount-nav__list{
				width: calc(100% - 180px);
			}
		}
	}
}

@media (max-width: 1000px){
	.productDiscount-listView{
		padding: 0;
	}
	.category-productDiscount-nav{
		display: none;
	}
}

@media (max-width: 640px){
	.category-productDiscount{
		padding: 0 0 30px;
		.category-productDiscount-content{
		    padding: 0 0 10px;
		}
	}
}