.catalog-home{
	padding: 10px 0 45px;
	.box-style{
		.box-style__but{
			width: 135px;
		}
		&.box-style-but{
			.box-style__header{
				width: calc(100% - 135px);
			}
		}
	}
}

.catalog-box{
	.catalog-box__item{
		position: relative;
		z-index: 0;
		width: calc(100% / 4);
		margin: -1px 0 0;
		background: $colorWhite;
		border: 1px solid $colorD9DDE8;
		min-height: 300px;
		border-right: none;
		&:after{
			content: '';
			position: absolute;
			opacity: 0;
			pointer-events: none;
			z-index: -1;
			top: 0;
			right: -1px;
			width: 1px;
			height: 100%;
			background: $colorWhite;
		}
		&:nth-child(4n + 4){
			border-right: 1px solid $colorD9DDE8;
		}
		&:hover, &:focus, &:active{
			z-index: 1;
			border-color: $colorWhite;
			@include box-shadow(0px 5px 20px rgba(166, 171, 189, 0.5));
			&:after{
				z-index: 1;				
				opacity: 1;
			}
			.catalog-box__img{
				source, img{
					@include transform(scale(.95));
				}
			}
		}
	}
	.catalog-box__img{
		width: 100%;
		a{
			width: 100%;
		}
		source, img{
			max-height: 232px;
			@include transition(transform .2s);
		}
	}
	.catalog-box__content{
		padding: 35px 20px 0 40px;
	}
	.catalog-box__name{
		color: $colorBlack;
		font-size: 20px;
		font-weight: 500;
		line-height: 22px;
		padding: 0 0 15px;
		span{
			border-bottom: 1px solid rgba($colorBlack, .5);
		}
		&:hover, &:focus, &:active{
			color: $color0074FF;
			span{
				border-bottom: none;
			}
		}
	}
	.catalog-box__more{
		a{
			color: $color0074FF;
			border-bottom: 1px solid rgba($color0074FF, .5);
			&:hover, &:focus, &:active{
				border-bottom: none;
			}
		}
	}
	&.catalog-box-home{
		.catalog-box__item{
			&:nth-child(-n+2){
				width: calc(100% / 2);
				.catalog-box__img{
					position: absolute;
					top: 0;
					right: 0;
					width: 380px;
					height: 100%;
					overflow: hidden;
					a{
						height: 100%;
					}
					source, img{
						max-height: 376px;
					}
				}
				.catalog-box__content{
					width: calc(100% - 380px);
					height: 100%;
					padding-bottom: 35px;
				}
			}
			&:nth-child(4n + 4){
				border-right: none;
			}
			&:nth-child(2), &:nth-child(6), &:nth-child(10), &:nth-child(14), &:nth-child(18), &:nth-child(22), &:nth-child(26){
				border-right: 1px solid $colorD9DDE8;
			}
		}
	}
}

.catalog-box-child{
	.catalog-box-child__item{
		color: $color757575;
		font-size: 16px;
		font-weight: normal;
		line-height: 18px;
		padding: 0 0 6px;
		a{
			color: $color757575;
			&:hover, &:focus, &:active{
				color: $color0074FF;
			}
		}
	}
}

@media (max-width: 1400px){
	.catalog-box{
		.catalog-box__item{
			width: calc(100% / 4);
			min-height: 270px;
		}
		.catalog-box__img{
			source, img{
				max-height: 210px;
			}
		}
		.catalog-box__content{
			padding: 30px 20px 0 35px;
		}
		.catalog-box__name{
			font-size: 20px;
			line-height: 22px;
			padding: 0 0 15px;
		}
		&.catalog-box-home{
			.catalog-box__item{
				&:nth-child(-n+2){
					width: calc(100% / 2);
					.catalog-box__img{
						width: 300px;
						source, img{
							max-height: 340px;
						}
					}
					.catalog-box__content{
						width: calc(100% - 300px);
						padding-bottom: 30px;
					}
				}
			}
		}
	}
}

@media (max-width: 1240px){
	.catalog-box{
		.catalog-box__item{
			width: calc(100% / 2);
			min-height: 270px;
			&:nth-child(even){
				border-right: 1px solid $colorD9DDE8 !important;
			}
		}
		.catalog-box__img{
			source, img{
				max-height: 210px;
			}
		}
		.catalog-box__content{
			padding: 30px 20px 0 35px;
		}
		.catalog-box__name{
			font-size: 20px;
			line-height: 22px;
			padding: 0 0 15px;
		}
		&.catalog-box-home{
			.catalog-box__item{
				&:nth-child(-n+2){
					width: calc(100% / 2);
					.catalog-box__img{
						position: relative;
						top: auto;
						right: auto;
						width: 100%;
						height: auto;
						a{
							height: auto;
						}
						source, img{
							max-height: 210px;
						}
					}
					.catalog-box__content{
						width: 100%;
						height: auto;
						padding-bottom: 0px;
					}
				}
			}
		}
	}
	.catalog-box-child{
		display: none;
	}
}

@media (max-width: 640px){
	.catalog-home{
		padding: 25px 0;
		.box-style{
			.box-style__but{
				display: none;
			}
			&.box-style-but{
				.box-style__header{
					width: 100%;
				}
			}
		}
	}

	.catalog-box{
		.catalog-box__content{
			padding: 25px 20px 0 !important;
		}
		.catalog-box__name{
			min-height: 50px;
			font-size: 18px;
			line-height: 20px;
			padding: 0 0 10px;
		}
		.catalog-box__img{
			source, img{
				max-height: 180px !important;
			}
		}
	}
}

@media (max-width: 480px){
	.catalog-box{
		.catalog-box__item{
			min-height: 230px;
		}
		.catalog-box__content{
			padding: 20px 12px 0 !important;
		}
		.catalog-box__name{
			min-height: 46px;
			font-size: 14px;
			line-height: 18px;
			padding: 0 0 10px;
		}
		.catalog-box__img{
			source, img{
				max-height: 160px !important;
			}
		}
	}
}

@media (max-width: 360px){
	.catalog-box{
		width: calc(100% + 28px);
		margin: 0 -14px;
		.catalog-box__item{
			min-height: 200px;
		}
		.catalog-box__content{
			padding: 20px 12px 0 !important;
		}
		.catalog-box__name{
			min-height: 46px;
			font-size: 13px;
			line-height: 18px;
			padding: 0 0 10px;
		}
		.catalog-box__img{
			source, img{
				max-height: 160px !important;
			}
		}
	}
}