.news-home{
	padding: 25px 0;
}
.news-box{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -15px;
	.news-box__item{
		width: calc(100% / 3 - 30px);
		margin: 0 15px 30px;
		opacity: 1; 
		&:hover, &:focus, &:active{
			.news-box__img{
				img{
					@include transform(scale(1.05));
					@include transition(.2s linear);
				}
			}
		}
	}
	.news-box__img{
		position: relative;
		width: 100%;
		height: 240px;
		overflow: hidden;
		@include transition(.3s);
		@include border-radius(10px);
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.news-box__info{
		padding: 15px 0 0;
	}
	.news-box__date{
		width: 100%;
		color: $color757575;
		font-size: 14px;
		font-weight: normal;
		line-height: 16px;
		padding: 0 0 8px;
	}
	.news-box__name{
		width: 100%;
		color: $colorBlack;
		font-size: 18px;
		font-weight: bold;
		line-height: 20px;
		padding: 0 0 3px;
		&:hover, &:focus, &:active{
			color: $color0074FF;
		}
	}
	.news-box__desc{
		color: $color454545;
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
	}
	&.news-box-carousel{
		width: calc(100% + 30px);
		.slick-track{
			@include flexbox();
			margin: 0;
		}
		.slick-item{
			float: none;
			display: block;
			width: 100%;
			height: auto;
			margin: 0 15px 30px;
			.news-box__item{
				margin: 0;
			}
		}
		.news-box__item{
			width: calc(100% / 1);
		}
		.slick-prev,
		.slick-next{
			top: 130px;
		}
		.slick-prev{
		    left: -8px;
		}
		.slick-next{
		    right: -8px;
		}
	}
}

@media (max-width: 1240px){
	.news-box{
		margin: 0 -10px;
		.news-box__item{
			width: calc(100% / 3 - 20px);
			margin: 0 10px 20px;
		}
		.news-box__img{
			height: 200px;
		}
		.news-box__info{
			padding: 15px 0 0;
		}
		.news-box__date{
			padding: 0 0 8px;
		}
		.news-box__name{
			font-size: 16px;
			line-height: 18px;
			padding: 0 0 3px;
		}
		.news-box__desc{
			font-size: 14px;
			line-height: 18px;
		}
		&.news-box-carousel{
			width: calc(100% + 20px);
			.slick-item{
				margin: 0 10px 20px;
				.news-box__item{
					margin: 0;
				}
			}
			.slick-prev,
			.slick-next{
				top: 105px;
			}
		}
	}
}

@media (max-width: 768px){
	.news-box-listView{
		.news-box{
			margin: 0;
			.news-box__item{
				@include flexbox();
				width: calc(100% / 1);
				margin: 0 0 30px;
			}
			.news-box__img{
				width: 100px;
				height: 90px;
				/*source, img, video{
				    position: relative;
				    height: auto;
				    top: auto;
				    left: auto;
				    -o-object-fit: unset;
				    object-fit: unset;
				}*/
			}
			.news-box__info{
				width: calc(100% - 100px);
				padding: 0 0 0 15px;
			}
		}
	}
}

@media (max-width: 640px){
	.news-home{
		position: relative;
		padding: 25px 0;
		.box-style{
			.box-style__header{
				position: static;
			}
			.box-style__but{
				position: absolute;
				right: 20px;
				bottom: 38px;
			}
		}
	}
	.news-box{
		margin: 0 -10px;
		.news-box__item{
			width: calc(100% / 2 - 20px);
		}
		.news-box__img{
			height: 170px;
		}
		&.news-box-carousel{
			width: 280px;
			margin: 0 0 60px;
			.slick-item{
				margin: 0 10px 20px;
				.news-box__item{
					margin: 0;
				}
			}
			.slick-list{
				overflow: visible;
			}
			.slick-slide{
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
			.slick-prev,
			.slick-next{
				top: auto;
				bottom: -65px;
			}
			.slick-prev{
			    left: 0px;
			}
			.slick-next{
				right: auto;
			    left: 60px;
			}
		}
	}
}

@media (max-width: 480px){
	.news-box{
		&.news-box-carousel{
			.slick-next{
			    left: 50px;
			}
		}
	}
}

@media (max-width: 360px){
	.news-box-listView{
		.news-box{
			.news-box__img{
				width: 90px;
				height: 80px;
			}
			.news-box__info{
				width: calc(100% - 90px);
				padding: 0 0 0 12px;
			}
		}
	}
}