.producer-home{
	padding: 30px 0;
}

.producer-carousel{
	.producer-carousel__item{
		margin: 0 18px;
		&:hover, &:focus, &:active{
			.producer-carousel__img{
				source, img{
					opacity: 1;
					@include filter(grayscale(0));
				}
			}
		}
	}
	.producer-carousel__img{
		max-height: 61px;
		source, img{
			opacity: 0.5;
			@include filter(grayscale(100%));
			@include transition(.2s);
		}
	}
	.slick-prev,
	.slick-next {
		@include box-shadow(none);
	    svg{
	        circle{
	        	fill: transparent;
	            stroke: transparent;
	        }
	    }
	    &:hover, &:focus {
	        svg{
	            circle{
	                fill: transparent;
	            	stroke: transparent;
	            }
	        }
	    }
	}
}

@media (max-width: 640px){
	.producer-carousel{
		width: calc(100% - 36px);
		margin: 0 auto;
		.slick-prev{
		    left: -36px;
		}
		.slick-next{
			right: -36px;
		}
	}
}