.slider-home{
	padding: 12px 0 0;
}

.slide-box{
	.slide-box__img{
		width: 100%;
		overflow: hidden;
		@include border-radius(15px);
	}
	&.slide-box-carousel{
		// margin: 0 0 60px !important;
		.slick-prev,
		.slick-next {
		    svg{
		        circle{
		            stroke: transparent;
		        }
		    }
		    &:hover, &:focus {
		        svg{
		            circle{
		                stroke: transparent;
		            }
		        }
		    }
		}
	}
}

@media (max-width: 1240px){
	.slider-home{
		padding: 12px 0 0;
	}
}

@media (max-width: 1000px){
	
}

@media (max-width: 640px){
	.slide-box{
		&.slide-box-carousel{
			.slick-dots {
				bottom: -20px;
			}
		}
	}
}

@media (max-width: 480px){
	.slide-box{
		&.slide-box-carousel{
			.slick-prev,
		    .slick-next {
		        width: 32px;
		        height: 32px;
		    }
		    .slick-prev {
		        left: -16px;
		    }
		    .slick-next {
		        right: -16px;
		    }
		}
	}
}