.stock-home{
	position: relative;
	padding: 40px 0 0;
	.box-style{
		.box-style__but{
			width: 135px;
		}
		&.box-style-but{
			.box-style__heading{
				// width: calc(100% - 135px);
			}
		}
	}
}

.stock-box{
	margin: 0 -15px;
	.stock-box__item{
		position: relative;
		width: calc(100% / 2 - 30px);
		margin: 5px 15px 30px;
		@include transition(all .3s linear);
		&:after{
			content: '';
			position: absolute;
			z-index: 0;
			opacity: 0;
			bottom: 0;
			left: 5%;
			width: 90%;
			height: 50%;
			@include box-shadow(0px 15px 27px rgba(48, 59, 81, 0.1));
			@include transition(opacity .5s ease);
		}
		&:hover, &:focus, &:active{
			@include transform(translateY(-2px));
			&:after{
				opacity: 1;
			}
		}
	}
	.stock-box__link{
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
	}
	.stock-box__img{
		width: 100%;
		picture{
			width: 100%;
		}
		source, img{
			@include border-radius(10px);
		}
	}
	&.stock-box-carousel{
		width: calc(100% + 30px);
		.slick-track{
			@include flexbox();
			margin: 0;
		}
		.slick-item{
			float: none;
			display: block;
			width: 100%;
			height: auto;
			margin: 5px 15px 30px;
			.stock-box__item{
				margin: 0;
			}
		}
		.stock-box__item{
			width: calc(100% / 1);
		}
		.slick-prev{
		    left: -8px;
		}
		.slick-next{
		    right: -8px;
		}
	}
}

@media (max-width: 1240px){
	.stock-box{
		margin: 0 -10px;
		.stock-box__item{
			width: calc(100% / 3 - 20px);
			margin: 5px 10px 30px;
		}
		&.stock-box-carousel{
			width: calc(100% + 20px);
			.slick-item{
				margin: 5px 10px 30px;
			}
		}
	}
}

@media (max-width: 1000px){
	.stock-box{
		margin: 0 -5px;
		.stock-box__item{
			width: calc(100% / 2 - 10px);
			margin: 5px 5px 20px;
		}
		&.stock-box-carousel{
			width: 600px;
			.slick-item{
				margin: 5px 5px 20px;
			}
			.slick-list{
				overflow: visible;
			}
			.slick-slide{
				opacity: 0.5;
				@include transition(.3s linear .2s);
				&.slick-active{
					opacity: 1;
					@include transition(.3s linear .1s);
				}
			}
			.slick-prev{
			    left: -5px;
			}
			.slick-next{
			    right: -5px;
			}
		}
	}
}

@media (max-width: 768px){
	.stock-box{
		&.stock-box-carousel{
			width: 100%;
		}
	}
}

@media (max-width: 640px){
	.stock-home{
		position: relative;
		padding: 25px 0;
		.box-style{
			.box-style__header{
				position: static;
			}
			.box-style__but{
				position: absolute;
				right: 20px;
				bottom: 38px;
			}
		}
	}
	.stock-box{
		&.stock-box-carousel{
			margin: 0 0 60px;
			.slick-prev,
			.slick-next{
				top: auto;
				bottom: -65px;
			}
			.slick-prev{
			    left: 0px;
			}
			.slick-next{
				right: auto;
			    left: 60px;
			}
		}
	}
}

@media (max-width: 480px){
	.stock-box{
		margin: 0 -5px;
		.stock-box__item{
			width: calc(100% / 1 - 10px);
			margin: 5px 5px 15px;
		}
		&.stock-box-carousel{
			.slick-next{
			    left: 50px;
			}
		}
	}
}