.content{
	width: 1320px;
	margin: 0 auto;
	@media (max-width: 1400px){
		width: 1140px;
	}
	@media (max-width: 1240px){
		width: 930px;
	}
	@media (max-width: 1000px){
		width: 720px;
	}
	@media (max-width: 768px){
		width: 600px;
	}
	@media (max-width: 640px){
		width: 100%;
		padding: 0 20px;
	}
	@media (max-width: 480px){
		padding: 0 15px;
	}
}

h1{
	color: $colorBlack;
	font-size: 38px;
	font-weight: 500;
	line-height: 44px;
	margin: 0;
	padding: 0 0 30px;
}

h2{
	color: $colorBlack;
	font-size: 32px;
	font-weight: 500;
	line-height: 37px;
	margin: 0;
	padding: 0 0 20px;
}

.box-style{
	.box-style__header{
		position: relative;
		width: 100%;
		padding: 0 0 20px 0;
	}
	.box-style__heading{
		@extend h2;
		padding: 0 !important;
		h1{
			padding: 0;
		}
		.back-dots{
			margin: 0 0 8px;
		}
	}
	.box-style__but{
		width: 201px;
	}
	&.box-style-but{
		.box-style__header{
			// width: calc(100% - 201px);
		}
		.box-style__heading{
			padding: 0 35px 0 0 !important;
		}
	}
}

.box-style-img{
	position: relative;
	overflow: hidden;
	source, img, video{
	    position: absolute;
	    z-index: 0;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    -o-object-fit: cover;
	    object-fit: cover;
	    @include transition(all .3s linear);
	}
}

.box-animation{
	@include transition(all .3s linear);
}

.txt-style{
	color: #6F6F6F;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

.color-orange{
	color: $colorEC4700 !important;
}

.back-bord{
	background: $colorWhite;
	border: 1px solid $colorD9DDE8;
	@include border-radius(5px);
}

@media (max-width: 1240px){
	h1{
		font-size: 32px;
		line-height: 40px;
		padding: 0 0 30px;
	}

	h2{
		font-size: 28px;
		line-height: 34px;
		padding: 0 0 20px;
	}
}

@media (max-width: 1000px){
	h1{
		font-size: 28px;
		line-height: 36px;
		padding: 0 0 25px;
	}

	h2{
		font-size: 24px;
		line-height: 30px;
		padding: 0 0 20px;
	}
	.box-style{
		.box-style__but{
			width: 160px;
		}
	}
}

@media (max-width: 768px){
	h1{
		font-size: 26px;
		line-height: 34px;
		padding: 0 0 25px;
	}

	h2{
		font-size: 22px;
		line-height: 28px;
		padding: 0 0 20px;
	}
}

@media (max-width: 640px){
	.box-style{
		&.box-style-but{
			.box-style__heading{
				padding: 0 !important;
			}
		}
	}
}

@media (max-width: 480px){
	h1{
		font-size: 24px;
		line-height: 32px;
		padding: 0 0 25px;
	}

	h2{
		font-size: 20px;
		line-height: 26px;
		padding: 0 0 20px;
	}
}