.but{
	position: relative;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: auto;
	height: 45px;
	color: $colorWhite;
	font-size: 16px;
	line-height: 17px;
	font-weight: 500;
	padding: 0 18px;
	border: none;
	background: $color0074FF;
	@include box-shadow(none);
	@include border-radius(5px);
	@include transition(all .3s linear);
	&.but-30{
		@include border-radius(30px);
	}
	&.but-border{
		color: $colorBlack;
		background: transparent;
		border: 2px solid $colorD9DDE8;
		&.but-svg{
			svg{
				path{
					fill: $colorBlack;
				}
			}
		}
		&.but-border-orange{
			color: $colorEC4700;
			border-color: $colorEC4700;
			&.but-svg{
				svg{
					path{
						fill: $colorEC4700;
					}
				}
			}
		}
	}
	&.but-gray{
		color: $color0074FF;
		background: $colorF2F3F5;
		&.but-svg{
			svg{
				path{
					fill: $color0074FF;
				}
			}
		}
	}
	&.but-orange{
		color: $colorWhite;
		background: $colorEC4700;
		&.but-svg{
			svg{
				path{
					fill: $colorWhite;
				}
			}
		}
	}
	&.but-svg{
		-webkit-appearance: listbox;
		@include transform(perspective(1px) translateZ(0));
		@include transition-duration(0.1s);
		&.but-svg-right{
			padding-right: 20px;
			span{
				padding: 0 10px 0 0;
			}	
		}
		&.but-svg-left{
			span{
				padding: 0 0 0 10px;
			}	
		}
		.icon-but-arrow{
			-o-object-fit: none;
	    	object-fit: none;
			object-position: 0 0;
			width: 9px;
			height: 8px;
		}
		svg{
			width: 17px;
			height: 12px;
			@include transform(translateZ(0));
			@include transition(transform 0.2s ease-out);
			path{
				fill: $colorWhite;
			}
		}
	}
	&.but-go-cart{
		color: $color0074FF;
		background: transparent;
		border: 1px solid $color0074FF;
	}
	.icon-load{
		display: none;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			background: url('../images/ajax-loading-but.gif') center no-repeat;
			@include background-size(100%);
		}
	}
	&.but-animation{
		overflow: hidden;
	    @include transform(matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1));
		&:before, 
		&:after {    
		    content: "";
			position: absolute;
			z-index: -1;
			width: 100%;
		    height: 100%;
		    left: -110%;
		    top: 0;
			opacity: 0.1;
			background: rgba($colorBlack, 0.6);    
		    @include transform(skewX(25deg));   
			@include transition(.5s ease);
			pointer-events: none;
		}
	}
	&:hover, &:focus, &:active{
		outline: 0;
		color: $colorWhite;
		background: $color0061D4;
		border-color: $color0061D4;
		@include box-shadow(none);
		&.but-border{
			color: $colorWhite;
			background: $colorBlack;
			border-color: $colorBlack;
			
		}
		&.but-border{
			color: $color0074FF;
			background: transparent;
			border: 2px solid $color0074FF;
			svg{
				path{
					fill: $color0074FF;
				}
			}
			&.but-border-orange{
				color: $colorWhite;
				background: $colorEC4700;
				border-color: $colorEC4700;
				&.but-svg{
					svg{
						path{
							fill: $colorWhite;
						}
					}
				}
			}
		}
		&.but-gray{
			color: $colorWhite;
			background: $color0074FF;
			&.but-svg{
				.icon-but-arrow{
					object-position: 0 -8px;
				}
				svg{
					path{
						fill: $colorWhite;
					}
				}
			}
		}
		&.but-orange{
			color: $colorWhite;
			background: darken($colorEC4700, 10%);
			&.but-svg{
				svg{
					path{
						fill: $colorWhite;
					}
				}
			}
		}
		&.but-svg{
			&.but-svg-right{
				svg{
					@include transform(translateX(-3px));
				}
			}
			&.but-svg-left{
				svg{
					@include transform(translateX(3px));
				}
			}
		}
		&.but-go-cart{
			color: $colorWhite;
			background: $color0074FF;
			border: 1px solid $color0074FF;
		}
		&.but-animation{
			&:before {
			    left: -10%;
			    @include transition(.3s ease);
			}
			&:hover:after {
			    left: -20%;
			}
		}
	}
}

.button-disabled{
	opacity: 0.9;
	pointer-events: none;
}

.but-link{
	position: relative;
	color: $colorBlack;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.1;
	padding: 0;
	&:after {
		content: '';
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    display: block;
	    width: 100%;
	    height: 1px;
	    background: $colorBlack;
	}
	&.but-link-blue{
		color: $color0074FF;
		&:after {
			background: $color0074FF;
		}
		&.but-link-svg{
			svg{
				path{
					fill: $color0074FF;
				}
			}
		}
	}
	&.but-link-svg{
		-webkit-appearance: listbox;
		@include transform(perspective(1px) translateZ(0));
		@include transition-duration(0.1s);
		&.but-link-svg-right{
			span{
				margin: 0 5px 0 0;
			}	
		}
		&.but-link-svg-left{
			span{
				margin: 0 0 0 5px;
			}	
		}
		svg{
		    position: relative;
    		top: 2px;
			width: 11px;
			height: 11px;
			@include transform(translateZ(0));
			@include transition(transform 0.2s ease-out);
			path{
				fill: #373E44;
			}
			&.icon-question{
				width: 21px;
				height: 21px;
			}
			&.icon-prev-catalog{
				width: 7px;
				height: 100%;
				top: 0;
			}
		}
		&:after{
			display: none;
		}
	}
	&:hover, &:focus, &:active{
		color: $color0074FF;
		&:after {
			background: $color0074FF;
		}
		&.but-link-blue{
			color: $color0074FF;
			&:after {
				display: none;
			}
			&.but-link-svg{
				svg{
					path{
						fill: $color0074FF;
					}
				}
			}
		}
		&.but-link-svg{
			&.but-link-svg-right{
				svg{
					@include transform(translateX(-3px));
				}
			}
			&.but-link-svg-left{
				svg{
					@include transform(translateX(3px));
				}
			}
		}
	}
}

@media (max-width: 1240px){
	.but{
		height: 40px;
		font-size: 14px;
		line-height: 17px;
		padding: 0 25px;
		&.but-svg{
			&.but-svg-right{
				padding-right: 15px;
				span{
					padding: 0 10px 0 0;
				}	
			}
			&.but-svg-left{
				span{
					padding: 0 0 0 10px;
				}	
			}
			svg{
				width: 15px;
				height: 9px;
			}
		}
	}
}

@media (max-width: 1000px){
	.but{
		height: 36px;
		font-size: 14px;
		line-height: 17px;
		padding: 0 20px;
	}
}

@media (max-width: 640px){
	.but{
		padding: 0 16px;
	}
}