footer{
	width: 100%;
	height: auto;
	background: #F2F5F8;
	margin: 20px 0 0;
}
.footer{
	color: $color757575;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;	
	.footer__heading{
		color: $colorBlack;
		font-size: 18px;
		line-height: 20px;
		font-weight: 500;
		padding: 0 0 15px;
	}
	.footer__copy{
		color: $color757575;
		font-size: 14px;
		font-weight: normal;
		line-height: 16px;
	}
	.footer__info{
		width: calc(100% - 260px);
		padding: 0 40px 0 0;
	}
}

.footer-top{
	padding: 50px 0 20px;
	.footer-top__item{
		width: calc(100% / 4 - 30px);
		&.footer-top__item_catalog{

		}
		&.footer-top__item_menu{
			.menu-footer{
				li{
					a{
						color: $colorBlack;
						font-size: 18px;
						line-height: 20px;
						font-weight: 500;
						&:hover, &:focus, &:active{
							color: $color0074FF;
						}
					}
				}
			}
		}
	}
}

.footer-bot{
	border-top: 1px solid $colorD9DDE8;
	padding: 20px 0px 18px;
	.footer-bot__paymentLogo{
		width: 340px;
		padding: 0 30px 0 0;
		ul{
			@include flexbox();
			@include flex-wrap(wrap);
			@include align-items(center);
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				width: auto;
				height: 41px;
				margin: 7px 14px 7px 0;
				img, svg{
				    mix-blend-mode: multiply;
					max-height: 100%;
				}
			}
		}
	}
	.footer-bot__copy{
		width: calc(100% - 640px);
		padding: 0 30px 0 0;
	}
	.footer-bot__dc-logo{
		width: 300px;
		a{
			color: #757575;
			img{
				width: 120px;
			}
			span{
				display: block;
				width: calc(100% - 124px);
				padding: 0 0 0 8px;
			}
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.menu-footer{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0;
	padding: 0;
	list-style-type: none;
	li{
		width: 100%;
		line-height: 1.0;
		padding: 0 0 15px;
		a{
			position: relative;
			color: $color454545;
			font-size: 16px;
			font-weight: normal;
			line-height: 20px;
			&.footer-hidden{
				display: none;
			}
			&:hover, &:focus, &:active{
				color: $color0074FF;
			}
		}
	}
}

.footer-contact{
	color: $colorBlack;
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	.footer-contact__mode{
		color: $color757575;
		font-size: 15px;
		line-height: 17px;
	}
	.footer-contact__phone{
		font-size: 18px;
		font-weight: bold;
		line-height: 24px;
		padding: 0 0 14px;
		a{
			color: $colorBlack;
		}
	}
	.footer-contact__email{
		font-weight: 500;
		text-decoration-line: underline;
		padding: 0 0 20px;
		a{
			color: $colorBlack;
		}
	}
	.footer-contact__location{
		color: $color454545;
	}
	.footer-contact__but{
		padding: 0 0 22px;
		.but{
			width: 165px;
			height: 35px;
			padding: 0 8px;
		}
	}
	.footer-contact__soc{
		padding: 0 0 18px;
	}
	.footer-contact__logo{
		padding: 0 0 18px;
	}
}

.soc-box{
	@include inline-flex();
	@include align-items(center);
	a{
		padding: 2px 10px 2px 0;
		@include transition(transform .3s ease);
		svg{
			width: 35px;
		}
		&:hover{
			@include transform(translateY(-2px));
		}
	}
}

@media (max-width: 1240px){
	.footer{
		.footer__heading{
			font-size: 16px;
			line-height: 18px;
			padding: 0 0 15px;
		}
	}

	.footer-top{
		padding: 50px 0 20px;
		.footer-top__item{
			width: calc(100% / 4 - 30px);
			&.footer-top__item_menu{
				.menu-footer{
					li{
						a{
							font-size: 16px;
							line-height: 18px;
						}
					}
				}
			}
		}
	}

	.footer-bot{
		padding: 20px 0px 18px;
		.footer-bot__paymentLogo{
			width: 300px;
			padding: 0 25px 0 0;
		}
		.footer-bot__copy{
			width: calc(100% - 600px);
			padding: 0 25px 0 0;
		}
		.footer-bot__dc-logo{
			width: 300px;
		}
	}
}

@media (max-width: 1000px){
	.footer-top{
		padding: 50px 0 20px;
		.footer-top__item{
			width: calc(100% / 2 - 30px);
			padding: 0 0 30px;
		}
	}

	.footer-bot{
		padding: 20px 0px 108px;
		.footer-bot__paymentLogo{
			width: 100%;
			padding: 0 0 25px;
		}
		.footer-bot__copy{
			width: calc(100% - 300px);
			padding: 0 25px 0 0;
		}
		.footer-bot__dc-logo{
			width: 300px;
		}
	}
}

@media (max-width: 640px){
	.footer-top{
		padding: 50px 0 5px;
		.footer-top__item{
			width: calc(100% / 1 - 30px);
			padding: 0 0 25px;
		}
	}

	.footer-bot{
		.footer-bot__paymentLogo{
			padding: 0 0 10px;
		}
		.footer-bot__copy{
			width: 100%;
			padding: 0 0 20px;
		}
		.footer-bot__dc-logo{
			width: 300px;
		}
	}
}
/* @media (max-width: 1000px){
	.footer{
		.footer__top{
			padding: 50px 0px 20px;
		}
		.footer__bot{
			padding: 20px 0px 18px;
		}
		.footer__item{
			&.footer__item_logo{
				width: 275px;
				padding: 0 25px 35px 0;
			}
			&.footer__item_menu{
				width: calc(100% - 210px);
				padding: 0 25px 0 0;
			}
			&.footer__item_contact{
				width: 210px;
			}
		}
		.footer__heading{
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 12px;
			margin: 0 0 16px;
		}
		.footer__copy{
			font-size: 13px;
			line-height: 15px;
		}
		.footer__info{
			width: calc(100% - 120px);
			padding: 0 40px 0 0;
			br{
				display: none;
			}
		}
		.footer__dc-logo{
			width: 120px;
			a{
				img{
					width: 120px;
				}
				span{
					display: none;
				}
			}
		}
	}
}

@media (max-width: 768px){
	.footer{
		.footer__top{
			width: 290px;
			margin: 0 auto;
			text-align: center;
			padding: 50px 0px 20px;
		}
		.footer__bot{
			width: 290px;
			margin: 0 auto;
			text-align: center;
			padding: 20px 0px 18px;
		}
		.footer__item{
			&.footer__item_logo{
				padding: 0 0 25px;
				.footer-logo{
					width: 240px;
					margin: 0 auto;
				}
			}
			&.footer__item_menu{
				width: 100%;
				padding: 0 0 25px;
				ul{
					li{
						width: 100%;
					}
				}
			}
			&.footer__item_contact{
				width: 100%;
				.soc-box{
					@include justify-content(center);
				}
			}
		}
		.footer__heading{
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 15px;
			margin: 0;
			border-bottom: none;
		}
		.footer__info{
			width: 100%;
			padding: 0 0 15px;
			br{
				display: none;
			}
		}
		.footer__dc-logo{
			width: 120px;
			margin: 0 auto;
			a{
				img{
					width: 120px;
				}
				span{
					display: none;
				}
			}
		}
	}

	.menu-footer{
		li{
			padding: 0 0 10px;
			a{
				line-height: 18px;
			}
		}
	}
} */