.form{
	.form-group{
		margin: 0 0 20px;
		label{
			display: none;
		}
		input, textarea{
			width: 100%;
			height: 40px; 
			border: 1px solid $colorD9DDE8;
			background: transparent;
			color: $colorBlack;
			font-size: 16px;
			@include border-radius(0 !important);
			@include box-shadow(none);
			&::-webkit-input-placeholder{
				color: rgba($colorBlack, 0.7);
			}
			&::-moz-placeholder{
				color: rgba($colorBlack, 0.7);
			}
			&:-moz-placeholder{
				color: rgba($colorBlack, 0.7);
			}
			&:-ms-input-placeholder{
				color: rgba($colorBlack, 0.7);
			}
			&.disabled, &.form-control[disabled], &.form-control[readonly] {
			    cursor: not-allowed;
			    pointer-events: none;
			    background-color: #eee;
			    opacity: 1;
			}
			&.error{
				color: #a94442;
				border-color: #a94442;
				&::-webkit-input-placeholder{
					color: #a94442;
				}
				&::-moz-placeholder{
					color: #a94442;
				}
				&:-moz-placeholder{
					color: #a94442;
				}
				&:-ms-input-placeholder{
					color: #a94442;
				}
			}
		}
		textarea{
			@include border-radius(0);
			max-width: 100%!important;
			min-width: 100%!important;
			min-height: 65px!important;
			max-height: 65px!important;
		}
		&.form-group-filled{
			position: relative;
			z-index: 1;
			input, textarea{
				background: transparent !important;
				&::-webkit-input-placeholder{
					color: transparent;
				}
				&::-moz-placeholder{
					color: transparent;
				}
				&:-moz-placeholder{
					color: transparent;
				}
				&:-ms-input-placeholder{
					color: transparent;
				}
				&:focus, &.filled{
			    	& + label {
			    		z-index: 0;
			    		color: #A7A7A7;
			    		left: 10px;
    					top: 0;
				      	font-size: 12px;
				      	background: $colorWhite;
				      	padding: 0 2px;
				      	@include transform(translateY(-50%));
			      	}
				}
				& + label{
					position: absolute;
					z-index: -1;
					left: 15px;
					top: 50%;
					display: block;
					color: #2B2D2F;
					font-weight: normal;
					margin: 0;
					@include transform(translateY(-50%));
					@include transition(all .1s linear);
				}
			}
			textarea{
				& + label{
					top: 0;
					@include transform(translateY(7px));
				}
			}
		}
	}
	.password-form-group {
		.input-group{
			position: relative;
			display: block;
			width: 100%;
			.input-group-addon, .input-group-btn, .form-control{
				display: block;
				float: none;
			}
		}
		.input-group-addon{
			position: absolute;
			z-index: 3;
			top: 50%;
			right: 15px;
			width: auto;
			padding: 0;
			color: #737171;
			background-color: transparent;
		    border: none;
		    @include border-radius(0);
		    @include transform(translateY(-50%));
		    &:hover, &:focus, &:active{
		    	cursor: pointer;
		    	color: #252525;
		    }
		}
	}
	.terms_of_use{
	    color: #959595;
	    font-size: 12px;
	    line-height: 1.2;
	    padding: 15px 0px 0px;
	    a{
			color: #959595;
			text-decoration: underline;
		}
	}
	.help-block{
		color: #a94442;
		// display: none;
		margin: 0px!important;
		font-size: 12px;
		text-align: center;
	}
	.file-upload {
		position: relative;
		input[type="file"]{
		    display: none; 
		}
		label {
			display: inline-block;
			cursor: pointer;
		}
		span {
			color: #212121;
			font-size: 14px;
			line-height: 1.2;
			font-weight: normal;
			padding: 5px 0 0;
			.fa-paperclip{
			    position: relative;
			    font-size: 1.3em;
				border: none;
			    background: transparent;
			    @include transform(rotate(90deg));
			}
			#count_file{
				display: inline-block;
				border-bottom: 1px solid #b3b3b3;
				margin: 0 0 0 10px;
			}
		}
	}
	.form-button{
		margin: 20px 0 0;
	}
	input[type="submit"], button{
		width: 100%;
		height: 45px;
		line-height: 45px;
		border: none;
		padding: 0 40px;
		@include box-shadow(none);
		&:hover, &:focus, &:active{
			outline: 0;
			@include box-shadow(none);
		}
	}
}

.form-captcha{
	.g-recaptcha{
		@include transform(scale(1));
		transform-origin: 0 0 !important;
	}
	&.form-captcha-95{
		width: 288px;
	    height: 72px;
		.g-recaptcha{
			@include transform(scale(0.95));
		}
	}
	&.form-captcha-9{
		width: 273px;
	    height: 68px;
		.g-recaptcha{
			@include transform(scale(0.9));
		}
	}
	&.form-captcha-85{
		width: 258px;
		height: 64px;
		.g-recaptcha{
			@include transform(scale(0.85));
		}
	}
	&.form-captcha-8{
		width: 243px;
	    height: 60px;
		.g-recaptcha{
			@include transform(scale(0.8));
		}
	}
	&.form-captcha-75{
		width: 228px;
		height: 56px;
		.g-recaptcha{
			@include transform(scale(0.75));
		}
	}
	&.form-captcha-7{
		width: 212px;
		height: 52px;
		.g-recaptcha{
			@include transform(scale(0.7));
		}
	}
}

.radio-inline{
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0 35px 0px 0px;
	left: -2px;
	input[type="radio"]{
		vertical-align: top;
		width: 14px;
		height: 14px;
		margin: 0;
		& + label {
			display: block;
			position: relative;
			width: auto;
            color: rgba($colorBlack, 0.8);
            font-size: 18px;
			line-height: 15px;
	        font-weight: normal;
            padding: 0 0 0 25px;
            cursor: pointer;
		}
		&:not(checked) {
			position: absolute;
			opacity: 0;
			& + label {
				&:before {
	                content: '';
	                position: absolute;
	                left: 4px; 
	                top: 5px;
	                width: 6px; 
	                height: 6px;
	                background: $color0074FF;
	                opacity: 0;
	                @include border-radius(50%);
	                @include transition(all .3s linear);
	            }
	            &:after {
	                content: '';
	                position: absolute;
	                left: 0;
	                top: 1px;
	                width: 14px; 
	                height: 14px;
	                border: 1px solid $colorCCCCCC;
	                background: transparent;
	                @include border-radius(50%);
	                @include transition(all .3s linear);
	            }
			}
		}
		&:checked{
			& + label{
				&:before {
					opacity: 1;
				}
			}
		}
	}
}

// form[data-type="ajax-form"]{
// 	.but{
// 		@include transition(opacity .3s);
// 		span, svg, i{
// 			pointer-events: none;
// 		}
// 		&.active {
// 			pointer-events: none;
// 			.icon-load{
// 				display: inline-block;
// 			}
// 			span{
// 				display: none;
// 			}
// 		}
// 	}
// }

@media (max-width: 768px){
}

@media (max-width: 768px){
	.form{
		input[type="submit"], button{
			padding: 0 40px;
		}
	}
}

@media (max-width: 400px){
	.form{
		.form-button{
			margin: 10px 0 0;
		}
		input[type="submit"], button{
			height: 42px;
			line-height: 42px;
			padding: 0 40px;
		}
	}
}