.ic-catalog{
	display: block;
	width: 12px;
	height: 15px;
	background: url('../images/svg/icon-catalog.svg') no-repeat;
}
.ic-close{
	display: block;
	width: 12px;
	height: 12px;
	background: url('../images/svg/filter-close.svg') no-repeat;
}
.ic-account{
	display: block;
	width: 23px;
	height: 23px;
	background: url('../images/svg/icon-account.svg') no-repeat;
}
.ic-favorite{
	display: block;
	width: 16px;
	height: 16px;
	background: url('../images/svg/icon-favorite-xs.svg') no-repeat;
}
.ic-cart{
	display: block;
	width: 24px;
	height: 22px;
	background: url('../images/svg/icon-cart.svg') no-repeat;
}
.ic-sort-desc{
	display: block;
	width: 16px;
	height: 14px;
	background: url('../images/svg/filter-sort-desc.svg') no-repeat;
	background-position: 0 0;
}
.ic-sort-asc{
	display: block;
	width: 16px;
	height: 14px;
	background: url('../images/svg/filter-sort-asc.svg') no-repeat;
	background-position: 0 0;
}

@media (min-width: 641px){
	.ic-favorite{
		width: 22px;
		height: 22px;
		background: url('../images/svg/icon-favorite.svg') no-repeat;
	}
}