@charset "UTF-8";

// Slick icon entity codes outputs the following
// "\2022" outputs ascii character "•"

$slick-font-path: "../stick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../stick/" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: $colorWhite;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 10;
    display: block;
    cursor: pointer;
    top: 50%;
    padding: 0;
    outline: none;
    width: 45px;
    height: 45px;
    text-align: center;
    border: none;
    background: transparent;
    opacity: 1 !important;
    @include box-shadow(0px 8px 31px rgba(0, 0, 0, 0.1));
    @include border-radius(50px);
    @include transform(translate(0, -50%));
    // @include transition(all .5s ease);
    svg{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        circle{
            fill: $colorWhite;
            stroke: $colorWhite;
        }
        path{
            fill: $colorBlack;
        }
    }
    &:hover, &:focus {
        outline: none;
        opacity: 1;
        border-color: transparent;
        
        svg{
            circle{
                fill: $colorWhite;
                stroke: $colorWhite;
            }
            path{
                fill: $color0074FF;
            }
        }
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev {
    left: -22px;
}
.slick-next {
    right: -22px;
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -30px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
        button {
            display: block;
            width: 100%;
            height: 100%;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            cursor: pointer;
            border: 0;
            background: $colorDEDEDE;
            @include border-radius(50%);
            &.active{
                
            }
            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button {
            border: 0;
            background: $color0074FF;
        }
    }
}

@media (max-width: 1240px){
    /* Arrows */
    .slick-prev,
    .slick-next {
        width: 36px;
        height: 36px;
    }
    .slick-prev {
        left: -18px;
    }
    .slick-next {
        right: -18px;
    }

    .slick-dots{
        bottom: -30px;
        li {
            width: 8px;
            height: 8px;
            margin: 0 7px;
        }
    }
}

@media (max-width: 1000px){
    .slick-prev,
    .slick-next {
       @include box-shadow(0px 8px 31px rgba(0, 0, 0, 0.2));
   }
}

@media (max-width: 480px){
    .slick-dots {
        li {
            margin: 0 4px;
        }
    }
}