.payments-section{
    h4{
        margin: 35px 0 20px;
    }
}
.payment-methods{
    margin: 0;
    padding: 0;
    list-style-type: none;
    .payment-method__item{
        padding: 0 0 15px;
    }
    .logo-payment-box{
        margin: 0 -10px;
        .logo-payment-box__item{
            width: 120px;
            margin: 10px;
        }
    }
}

.payment-rich-radio{
    display: block;
    margin-right: 20px;
    position: relative;
    left: 0px;
    input[type="radio"]{
        vertical-align: top;
        width: 14px;
        height: 14px;
        margin: 0 3px 0 0;
        & + label {
            font-weight: normal;
            cursor: pointer;
            margin: 0;
            color: $color212121;
            font-family: $familyRegular;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.1;
            
        }
        &:not(checked) {
            position: absolute;
            opacity: 0;
            & + label {
                position: relative;
                padding: 0 0 0 30px;
                &:before, &:after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include border-radius(50%);
                    @include transition(all .3s);
                }
                &:before {
                    top: 0;
                    width: 17px;
                    height: 17px;
                    border: 1px solid rgba($color757575, 1);
                }
                &:after {
                    top: 4px;
                    left: 4px;
                    width: 9px;
                    height: 9px;
                    background: rgba($colorCF2034, 1);
                    opacity: 0;
                }
            }
        }
        &:checked{
            opacity: 0;
            & + label{
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    .rich-radio-body__text{
        color: $color757575;
        font-size: 16px;
        font-family: $familyRegular;
        font-weight: normal;
        line-height: 1.2;
        margin: 10px 0;
        p{
            margin: 0 0 10px;
        }
        h3{
            margin: 0 0 10px;
        }
    }
}

@media (max-width: 1240px){
    .payments-section{
        h4{
             margin: 30px 0 10px;
        }
    }
    .payment-methods{
        .payment-method__item{
            padding: 0 0 15px;
        }
        .logo-payment-box{
            margin: 0 -8px;
            .logo-payment-box__item{
                width: 100px;
                margin: 8px;
            }
        }
    }

    .payment-rich-radio{
        margin-right: 20px;
        input[type="radio"]{
            & + label {
                font-size: 15px;
                line-height: 1.1;
                
            }
            &:not(checked) {
                & + label {
                    padding: 0 0 0 25px;
                    &:before {
                        top: 0;
                        width: 15px;
                        height: 15px;
                    }
                    &:after {
                        top: 3px;
                        left: 3px;
                        width: 9px;
                        height: 9px;
                    }
                }
            }
        }
        .rich-radio-body__text{
            font-size: 14px;
            line-height: 1.2;
        }
    }
}