.carousel-header-section{
	width: 100%;
	height: 50px;
	background: $colorE0EAF4;
	.content{
		position: relative;
		height: 100%;
	}
	.carousel-header-section__close{
		display: block;
	    position: absolute;
	    top: calc(50% - 10px);
	    right: 0px;
	    width: 20px;
		height: 20px;
		cursor: pointer;
		opacity: 1;
	    z-index: 10;
		div {
			position: relative;
			width: 100%;
			height: 2px;
			background: $colorBlack;
			@include transition(all .4s ease);
			@include transform(rotate(135deg));
			top: 9px;
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				left: 0;
				width: 100%;
				height: 2px;
				background: $colorBlack;
				@include transition(all .4s ease);
				top: 0;
    			@include transform(rotate(90deg));
			}
		}
		&:hover{
			div{
				background: $colorEC4700;
				@include transform(rotate(225deg));
				&:before {
					background: $colorEC4700;
				}
			}
		}
	}
}
.carousel-header-box{
	width: calc(100% - 25px);
	height: 100%;
	.slick-track, .slick-list, .slick-slide, .carousel-header-box__item{
		height: 100%;
	}
	.carousel-header-box__name{
		color: $colorBlack;
		font-size: 16px;
		font-weight: 500;
		line-height: 18px;
		padding: 0 25px 0 0;
		strong{
			color: $colorEC4700;
			font-weight: 500;
		}
	}
	.carousel-header-box__img{
		position: relative;
		width: 272px;
		height: 100%;
		picture{
			width: 100%;
			height: 100%;
		}
		source, img{
			height: 100%;
		}
	}
	.carousel-header-box__but{
		padding: 0 12px;
		.but{
			height: 35px;
		}
	}
	.carousel-header-box__desc{
		color: $color757575;
		font-size: 13px;
		font-weight: normal;
		line-height: 15px;
		padding: 0 25px 0 0;
	}
}

@media (max-width: 1400px){
	.carousel-header-box{
		width: calc(100% - 22px);
		.carousel-header-box__name{
			font-size: 14px;
			line-height: 16px;
			padding: 0 20px 0 0;
		}
		.carousel-header-box__img{
			width: 252px;
		}
		.carousel-header-box__but{
			padding: 0 12px 0 10px;
			.but{
				font-size: 14px;
				line-height: 1.2;
				height: 32px;
				padding: 0 14px;
			}
		}
		.carousel-header-box__desc{
			padding: 0 20px 0 0;
		}
	}
}

@media (max-width: 1240px){
	.carousel-header-box{
		.carousel-header-box__img{
			width: 232px;
		}
		.carousel-header-box__but{
			padding: 0 20px;
			.but{
				height: 28px;
				padding: 0 12px;
			}
		}
		.carousel-header-box__desc{
			display: none;
		}
	}
}

@media (max-width: 640px){
	.carousel-header-section{
		display: none;
	}
}