.catalog-menu-fix{
	.menu-fix__box{
		.menu-fix__box2{
			max-height: calc(100% - 100px);
			.menu-fix__box3{
				ul{
					@include flexbox();
					@include flex-wrap(wrap);
					padding: 0;
					margin: 0;
					list-style-type: none;
					li{
						width: calc(100% / 3 - 14px);
						margin: 0 7px 14px;
						padding: 0;
						a{
							font-size: 16px;
							picture{
								source, img{
									max-height: 170px;
								}
							}
							span{
								display: block;
								padding: 5px 0;
							}
						}
					}
				}
			}
	 	}
	}
}

@media (max-width: 640px){
	.catalog-menu-fix{
		.menu-fix__box{
			.menu-fix__box2{
				.menu-fix__box3{
					ul{
						li{
							width: calc(100% / 2 - 14px);
							margin: 0 7px 14px;
							a{
								picture{
									source, img{
										max-height: 140px;
									}
								}
							}
						}
					}
				}
		 	}
		}
	}
}

@media (max-width: 480px){
	.catalog-menu-fix{
		.menu-fix__box{
			.menu-fix__box2{
				.menu-fix__box3{
					ul{
						li{
							width: calc(100% / 2 - 10px);
							margin: 0 5px 15px;
							a{
								font-size: 14px;
								picture{
									source, img{
										max-height: 100px;
									}
								}
							}
						}
					}
				}
		 	}
		}
	}
}