.header-catalog{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: calc(100% + 10px);
	z-index: 14;
	width: 100%;
	height: auto !important;
	&:after{
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: -100%;
		width: 300%;
		height: 100%;
		background: $colorWhite;
		@include box-shadow(0px 15px 20px rgba(166, 171, 189, 0.3));
	}
	&.active{
		opacity: 1;
		pointer-events: all;
	}
}

.menu-catalog {
    // position: absolute;
    z-index: 1;
    // left: -1px;
    // top: 15px;
    width: 310px;
    z-index: 100;
    // @include box-shadow(0 3px 10px rgba(0, 0, 0, .1));
	&.toggle-active, .menu-catalog_active {
	    display: block
	}
	& > ul {
		position: relative;
		z-index: 1;
		margin: 0;
		padding: 0;
		list-style-type: none;
	    background: $colorF5F5F5;
		& > li{
			background: $colorF5F5F5;
			a{
				@include flexbox();
			 	@include align-items(center);
				color: $colorBlack;
				font-size: 16px;
				font-weight: normal;
				line-height: 22px;
				min-height: 50px;
				padding: 10px 40px 10px 20px;
			}
			&.has-submenu {
				& > a{
					position: relative;
					&:before,
					&:after{
						content: '';
						position: absolute;
					}
					&:before{
						opacity: 0;
						display: block;
						top: 0;
						right: -1px;
						width: 1px;
						height: 100%;
						background: $colorWhite;
					}
					&:after{
						content: "\f105";
						display: inline-block;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					    top: calc(50% - 8px);
						right: 20px;
					}
				}
			}
			& > .menu-catalog-submenu {
			    position: absolute;
			    z-index: -1;
			    top: 0;
			    left: calc(100% - 5px);
			    left: 100%;
			    // padding: 10px;
			    display: none;
			    width: 100%;
			    min-height: 100%;
			    color: $colorBlack;
			    background: $colorWhite;
			    .menu-catalog-submenu__header{
			    	@include flexbox();
				 	@include align-items(center);
				 	min-height: 50px;
					padding: 10px 20px 10px 40px;
			    	a{
			    		display: inline-block;
		    		    min-height: auto;
						color: $color454545;
						font-size: 20px;
						font-weight: 500;
						line-height: 22px;
						border-bottom: 1px solid $color454545;
			    		padding: 0;
			    	}
			    }
			    & > ul {
				    display: inline-block;
				    vertical-align: top;
				    width: 100%;
				    margin: 0;
				    padding: 0;
				    list-style-type: none;
				    & > li {
					    & > a{
							color: $color454545;
					    	padding-left: 40px;
					    	padding-right: 20px;
						}
					    & > ul {
						    padding-top: 5px;
						    color: rgba(136, 136, 136, 1);
						    font-weight: 400
						}
						&:hover {
							& > a {
								color: $color0074FF;
							}
						}
					}
				}
			}
			&:hover {
	    		background: $colorWhite !important;
	    		& > a {
	    			color: $color0074FF;
	    		}
	    		& > .menu-catalog-submenu {
				    display: block
				}
				&.has-submenu {
					& > a{
						&:before{
							opacity: 1;
						}
					}
					& > .menu-catalog-submenu {
					}
				}
	    	}
	    }
	    &:after{
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			right: 0;
			width: 200%;
			height: 100%;
			background: $colorF5F5F5;
		}
	}
}