@media (min-width: 1001px){
	.header-mobile{
		display: none;
	}	
}

@media (max-width: 1000px){
	.header-mobile{
		position: fixed;
		z-index: 9999;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 75px;
		font-size: 14px;
		background: $colorWhite;
		border-top: 1px solid $colorD9DDE8;
		@include box-shadow(0 -3px 15px rgba(0, 0, 0, 0.06));
		line-height: 1.0;
	    padding: 5px 0 2px;
		.header-mobile__item{
			position: relative;
			width: calc(100% / 5);
			height: 100%;
			&.header-mobile__home, 
			&.header-mobile__catalog, 
			&.header-mobile__search, 
			&.header-mobile__lk, 
			&.header-mobile__cart{
				height: 100%;
				a{
					width: 100%;
					height: 100%;
					@include transition(transform .3s ease);
					&:hover{
						cursor: pointer;
						@include transform(translateY(-2px));
					}
				}
				span{
					
					padding: 8px 0 0 !important;
				}
			}
			a{
				color: $color757575;
				svg{
					path{
						stroke: transparent;
						fill: $color757575 !important;
					}
				}
				&.active, &:hover{
					color: $colorEC4700;
					svg{
						path{
							stroke: transparent;
							fill: $colorEC4700 !important;
						}
					}
				}
			}
		}
		.header-mobile__icon{
			position: relative;
			width: 100%;
			height: 28px;
			svg{
				width: 100% !important;
				height: 100% !important;
			}
		}
		.header-mobile__count{
			position: absolute;
			top: calc(50% - 15px);
			right: calc(50% - 22px);
			min-width: 15px;
			height: 15px;
			font-size: 10px;
			color: $color323232;
    		line-height: 9px;
		    text-align: center; 
			background: $colorFFF01B;
			padding: 0;
			@include border-radius(50px);
			&.active{
				opacity: 1;
			}
		}
	}
}

@media (max-width: 480px){
	.header-mobile{
		height: 60px;
		font-size: 13px;
	    padding: 4px 0;
		.header-mobile__item{
			&.header-mobile__home, 
			&.header-mobile__catalog, 
			&.header-mobile__search, 
			&.header-mobile__lk, 
			&.header-mobile__cart{
				span{
					padding: 4px 0 0 !important;
				}
			}
		}
		.header-mobile__icon{
			height: 24px;
		}
		.header-mobile__count{
			top: calc(50% - 15px);
			right: calc(50% - 22px);
			min-width: 15px;
			height: 15px;
			font-size: 10px;
    		line-height: 9px;
		}
	}
}

@media (max-width: 360px){
	.header-mobile{
		.header-mobile__icon{
			height: 22px;
		}
	}
}