.header-top{
	width: 100%;
	height: 55px;
	color: $colorBlack;
	font-size: 15px;
	line-height: 17px;
	font-weight: 400;
	padding: 10px 0;
	.content{
		height: 100%;
	}
	.header-top__item{
		width: 635px;
		height: 100%;
		&.header-menu{
			width: calc(100% - 635px);
			.header__menu_icon-menu{
				@media (min-width: 1001px){
					display: none;
				}
	    		width: 26px;
	    		height: 100%;
			    cursor: pointer;
			    -webkit-appearance: listbox;
			    .menu-fix-icon{
			     	width: 100%;
			     	height: 100%;
			     	@include flexbox();
					@include justify-content(center);
					@include align-items(center);
			     	svg, span{
			     		pointer-events: none;
			     	}
			     	svg{
			     		width: 100%;
			     		height: 100%;
			     		path, rect{
			     			fill: $colorBlack;
			     		}
			     	}
			     }
			}
		}
	}
}

.header-contact{
	.header-contact__item{
		&.header-contact__item_mode{
			width: calc(100% - 405px);
		}
		&.header-contact__item_phone{
			width: 240px;
		}
		&.header-contact__item_callback{
			width: 165px;
		}
	}
	.header-contact__mode{
		color: $color757575;
		text-align: right;
	}
	.header-contact__phone{
		text-align: right;
		a{
			color: $colorBlack;
			font-size: 18px;
			font-weight: 700;
			line-height: 24px;
			padding: 0 40px 0 20px;
			white-space: nowrap;
			&:hover{
				color: $colorBlack;
			}
		}
	}
	.header-contact__callback{
		.but{
			height: 35px;
			padding: 0 10px;
		}
	}
}

@media (max-width: 1240px){
	.header-top{
		height: 55px;
		font-size: 14px;
		line-height: 16px;
		padding: 10px 0;
		.header-top__item{
			width: 545px;
			&.header-menu{
				width: calc(100% - 545px);
			}
		}
	}
	.header-contact{
		.header-contact__item{
			&.header-contact__item_mode{
				width: calc(100% - 340px);
			}
			&.header-contact__item_phone{
				width: 190px;
			}
			&.header-contact__item_callback{
				width: 150px;
			}
		}
		.header-contact__phone{
			a{
				font-size: 16px;
				line-height: 22px;
				padding: 0 25px 0 15px;
			}
		}
		.header-contact__callback{
			.but{
				height: 35px;
				padding: 0 10px;
			}
		}
	}
}

@media (max-width: 1000px){
	.header-top{
		position: relative;
		height: 0;
		padding: 0;
		.header-top__item{
			width: 240px;
			height: 55px;
			@include justify-content(space-between);
			&.header-menu{
				display: none;
			}
		}
	}
	.header-contact{
		position: absolute;
		top: 0;
		right: 50px;
		@include flex-wrap(wrap);
		@include align-content(center);
		.header-contact__item{
			&.header-contact__item_mode{
				width: 100%;
			}
			&.header-contact__item_phone{
				width: 100%;
			}
			&.header-contact__item_callback{
				display: none;
			}
		}
		.header-contact__mode{
			text-align: right;
		}
		.header-contact__phone{
			text-align: right;
			a{
				padding: 0 0 0 25px;
			}
		}
	}
}

@media (max-width: 640px){
	.header-top{
		.header-top__item{
			width: 200px;
		}
	}
	
	.header-contact{
		right: 45px;
		.header-contact__phone{
			a{
				font-size: 15px;
				line-height: 21px;
				padding: 0 0 0 15px;
			}
		}
	}
}

@media (max-width: 480px){
	.header-top{
		.header-top__item{
			width: 150px;
			height: auto;
		}
	}
	.header-contact{
	    top: 5px;
		right: 0;
		.header-contact__mode{
			display: none;
		}
	}
}

@media (max-width: 360px){
	.header-contact{
		display: none;
	}
}