header{
	background: #FFFFFF;
	&.header-fix{
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		width: 100%;
		padding: 5px 0 10px;
		background: $colorWhite;
		@include box-shadow(0 3px 15px rgba($colorBlack, .1));
		.header-top{
			display: none;
		}
		.header-wrap{
			.header-wrap__item{
				&.header-wrap__item_icon-menu{
					display: block;
				}
				&.header-wrap__item_catalog{
					display: none;
				}
			}
		}
	}
}

@import "_header-top";


.header{
	@media (min-width: 1001px){
		position: relative;
	}
	.header__logo{
		width: 205px;
	}
	.header__wrap{
		width: calc(100% - 255px);
	}
}

.header-wrap{
	height: 45px;
	.header-wrap__item{
		height: 100%;
		padding: 0 30px 0 0;
		&.header-wrap__item_icon-menu{
			width: 150px;
			@media (min-width: 1001px){
				display: none;
			}
		}
		&.header-wrap__item_catalog{
			width: 167px;
			@media (max-width: 1000px){
				display: none;
			}
		}
		&.header-wrap__item_search{
			width: calc(100% - 400px);
		}
		&.header-wrap__item_lk{
			width: 53px;
		}
		&.header-wrap__item_favorite{
			width: 52px;
		}
		&.header-wrap__item_cart{
			width: 128px;
			padding: 0;
		}
	}
}

/* Логотип*/
.logo{
	img, svg{
		max-width: 205px;
		max-height: 100%;
	}
}

/* Кнопка каталога в шапке */
.catalog-menu-icon{
	position: relative;
	width: 100%;
 	height: 100%;
	color: $colorWhite;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2 !important;
	padding: 0 15px;
	cursor: pointer;
	-webkit-appearance: listbox;
	@include transition(all .3s);
	&.but{
		&.but-svg{
			&.but-svg-left{
				span{
					padding: 0 0 0 10px;
				}	
			}
		}
	}
	span{
		line-height: 1.0;
	}
	.icon-close{
		width: 15px;
		display: none;
	}
	svg{
		&.icon-open{
			width: 10px;
			height: 6px;
		}
	}
	&.active{
		svg{
		}
		.icon-catalog{
			display: none;
		}
		.icon-close{
			display: block;
		}
	}
}

/* ЛК, Корзина, избранное */
.header-lk, .header-favorite, .header-cart{
	position: relative;
	width: 100%;
	height: 100%;
}

.but-header{
	width: 100%;
	height: 100%;
	a{
		width: 100%;
		height: 100%;
	}
	.but-header__icon{
		width: 100%;
		// height: 100%;
		position: relative;
		@include transition(transform .3s ease);
		i{
			width: 100%;
			&.ic-cart{
				background-position: 0 -22px;
			}
		}
		svg{
			height: 100%;
			path{
				stroke: $color323232;
			}
			&.icon-account{
				path{
					stroke: transparent;
					fill: $color323232;
				}
			}
			&.icon-cart{
				path{
					stroke: transparent;
					fill: $colorEC4700;
				}
			}
		}
	}
	.but-header__count{
		position: absolute;
		// opacity: 0;
        top: calc(50% - 27px);
		right: -10px;
		min-width: 21px;
		height: 21px;
		color: $color323232;
		font-size: 13px;
		font-weight: bold;
		line-height: 1.0;
	    text-align: center; 
		background: $colorFFF01B;
	    padding: 0 4px;
        letter-spacing: -0.2px;
	    @include border-radius(50px);
	    &.active{
			opacity: 1;
		}
	}
	.but-header__text{
		color: $colorEC4700;
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		padding: 0 0 0 8px;
		.ruble{
			font-size: 14px;
			svg{
				width: 9px;
				height: 12px;
				path{
					fill: $colorEC4700;
				}
			}
		}
		.header-cart__cost-price{
		    white-space: nowrap;
		}
		.but-cart-link{
			color: $colorEC4700;
			font-size: 14px;
		    line-height: 13px;
		    text-decoration: underline;
		}
		@media (min-width: 1001px){
			.mobile-visible{
				display: none;
			}
		}
		@media (max-width: 1000px){
			.mobile-hidden{
				display: none;
			}
		}
	}
	&.but-cart{
		.but-header__icon{
			width: 24px;
		}
	}
	&:hover{
		cursor: pointer;
		.but-header__icon{
			@include transform(translateY(-2px));
		}
	}
}

/* Поиск в шапке */
.header-search{
	height: 100%;
	form{
		display: none;
		width: 100%;
		height: 100%;
	}
	.search-xs{
		position: relative;
		height: 100%;
		@include transition(transform .3s ease);
		svg{
			width: 20px;
			height: 100%;
			path{
				fill: #323232;
			}
		}
		&:hover{
			cursor: pointer;
			@include transform(translateY(-2px));
		}
	}
	@media (min-width: 769px){
		form{
			display: block;
		}
		.search-xs{
			display: none;
		}
	}
}
.search-input-group{
	width: 100%;
	height: 100%;
	@include flexbox();
	@include align-items(center);
	input{
		width: 100%;
		height: 100%;
		color: $color757575;
		font-size: 16px;
		line-height: 18px;
		font-weight: normal;
		border: none;
		border-bottom: 2px solid $color0074FF;
		padding: 0 30px;
		background: $colorWhite;
		@include border-radius(0 !important);
		@include box-shadow(none);
		&::-webkit-input-placeholder{
			color: $color757575;
		}
		&::-moz-placeholder{
			color: $color757575;
		}
		&:-moz-placeholder{
			color: $color757575;
		}
		&:-ms-input-placeholder{
			color: $color757575;
		}
		&:hover,&:focus,&:active{
			outline: 0;
			color: $color454545;
			border-color: $color0074FF;
			background: $colorWhite;
			@include box-shadow(none);
		}
	}
	.input-group-btn{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 30px;
		padding: 0;
		height: 100%;
		button{
			// width: 100%;
			height: 100%;
			background: transparent;
			border: none;
			padding: 0;
			background: transparent;
			@include border-radius(0 !important);
			@include transition(transform .3s ease);
			svg{
				width: 17px;
				height: 100%;
				@include transition(.3s);
				path{
					fill: $color757575;
				}
			}
			&:hover,&:focus,&:active{
				outline: 0;
				@include box-shadow(none);
				svg{
					@include transform(translateY(-1px));
					path{
						fill: $color0074FF;
					}
				}
			}
		}
	}
}

.menu-fix-icon{
	cursor: pointer;
	width: 50px;
	height: 100%;
	@include border-radius(5px);
	svg{
		width: 24px;
		height: 100%;
		rect{
			fill: $color323232;
		}
	}
}

@media (max-width: 1240px){
	.header{
		.header__logo{
			width: 195px;
		}
		.header__wrap{
			width: calc(100% - 225px);
		}
	}

	.header-wrap{
		height: 40px;
		.header-wrap__item{
			height: 100%;
			padding: 0 25px 0 0;
			&.header-wrap__item_catalog{
				width: 150px;
			}
			&.header-wrap__item_search{
				width: calc(100% - 365px);
			}
			&.header-wrap__item_lk{
				width: 53px;
			}
			&.header-wrap__item_favorite{
				width: 52px;
			}
			&.header-wrap__item_cart{
				width: 110px;
				padding: 0;
			}
		}
	}

	/* Логотип*/
	.logo{
		img, svg{
			max-width: 195px;
		}
	}

	.but-header{
		.but-header__text{
			font-size: 16px;
			line-height: 22px;
			padding: 0 0 0 8px;
			.ruble{
				font-size: 14px;
				svg{
					width: 9px;
					height: 12px;
				}
			}
			.but-cart-link{
				font-size: 14px;
			    line-height: 13px;
			}
		}
		&.but-cart{
			.but-header__icon{
				width: 24px;
			}
		}
	}
}

@media (max-width: 1000px){
	.header{
		.header__logo{
			width: 195px;
		}
		.header__wrap{
			width: 50px;
		}
	}

	.header-wrap{
		.header-wrap__item{
			&.header-wrap__item_icon-menu{
				width: 100%;
				.menu-fix-icon{
					@include justify-content(flex-end);
				}
			} 
			&.header-wrap__item_catalog, 
			&.header-wrap__item_search,
			&.header-wrap__item_lk,
			&.header-wrap__item_favorite,
			&.header-wrap__item_cart{
				display: none;
			}
		}
	}
}

@media (max-width: 640px){
	.header{
		.header__logo{
			width: 185px;
		}
	}
	/* Логотип*/
	.logo{
		img, svg{
			max-width: 185px;
		}
	}
}

@media (max-width: 480px){
	.header{
		padding: 5px 0;
	}
	.header-wrap{
		height: 22px;
	    margin: 20px 0 0;
	}
}

@media (max-width: 360px){
	.header{
		padding: 5px 0;
	}
	.header-wrap{
		height: 45px;
	    margin: 0;
	}
}