/* Окно поиска */
#search-form-Modal{
	.modal-body{
		position: relative;
		padding: 0;
		.input-group{
			position: relative;
			display: block;
			width: 100%;
			height: auto;
			height: 68px;
			input{
	    	    width:100%;
			    height: 100%;
			    background: #fff;
			    color: #000;
			    font-size: 20px;
			    letter-spacing: 0;
			    border: none;
			    padding: 0 68px;
			    @include border-radius(6px);
		    }
		    .input-group-btn{
		    	@include flexbox();
		    	@include align-items(center);
	    	    position: absolute;
			    z-index: 5;
			    width: 68px;
			    height: 100%;
			    button{
				    width: 100%;
				    color: #373E44;
			    	font-size: 20px;
				    line-height: 1.0;
				    text-align: center;
				    background: transparent;
				    border: none;
				    padding: 0;
				    &:hover, &:focus, &:active{
				    	outline: 0;
				    	@include box-shadow(none);
				    }
			    }
		    }
		}
	}
	.search-form-Modal__close{
	    position: absolute;
	    z-index: 12;
	    top: 0;
	    right: 0;
	    width: 68px;
	    height: 100%;
	    padding: 0 25px;
		svg{
			pointer-events: none;
			width: 100%;
			height: 100%;
			path{
				fill: rgba(0, 0, 0, .6);
			}
		}
	}
}
@media (max-width: 1000px){
	/* Окно поиска */
	#search-form-Modal{
		.modal-dialog {
		    margin-top: 10px;
		}
		.modal-body{
			.input-group{
				height: 58px;
				input{
					font-size: 20px;
					padding: 0 58px;
				}
			    .input-group-btn{
					width: 58px;
				    button{
						font-size: 20px;
					}
			    }
			}
		}
		.search-form-Modal__close{
			width: 58px;
			padding: 0 21px;
		}
	}
}
@media (max-width: 640px){
	/* Окно поиска */
	#search-form-Modal{
		.modal-dialog {
		    margin-top: 10px;
		}
		.modal-body{
			.input-group{
				height: 48px;
				input{
					font-size: 18px;
					padding: 0 48px;
				}
			    .input-group-btn{
					width: 48px;
				    button{
						font-size: 18px;
					}
			    }
			}
		}
		.search-form-Modal__close{
			width: 48px;
			padding: 0 17px;
		}
	}
}
@media screen and (min-width: 768px){
	#search-form-Modal{
		.modal-dialog {
		    margin: 10px auto;
		}
	}
}