.pickup-tab-content{
	padding: 15px 30px;
	max-height: 313px;
	border: 1px solid $colorBorder;
	overflow: hidden;
    overflow-y: auto;
	scrollbar-color: ligthen(rgba($color212121, .1), 5) rgba($color212121, .2);
	scrollbar-width: thin;
	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: none;
		@include border-radius(0);
	    opacity: .1;
		background: rgba($color212121, .1);
	}
	&::-webkit-scrollbar
	{
		width: 10px;
		background-color: transparent;
	}
	&::-webkit-scrollbar-thumb
	{
		@include border-radius(0);
		-webkit-box-shadow: none;
		background-color: rgba($color212121, .2);
	}
}
.pickup-item{
	color: $color212121;
	font-size: 18px;
	font-weight: normal;
	line-height: 21px;
	padding: 15px 0;
	border-bottom: 1px solid $colorBorder;
	.pickup-item__content{
		width: calc(100% - 345px);
	}
	.pickup-item__buttons{
		width: 345px;
		.bt-cart{
			// min-width: 180px;
			margin: 15px 0 15px 30px;
		}
		.pickup-checkbox{
			cursor: pointer;
			// margin: 0;
			& > input{
				position: absolute; 
				opacity: 0;
			}
		}
	}
	.pickup-item__name{
		a{
			color: $color212121;
		}
		span{
			border-bottom: 1px solid rgba($color212121, .7);
		}
		&:hover{
			color: $color00A44B;
			cursor: pointer;
			a{
				color: $color00A44B;
			}
			span{
				border-color: transparent;
			}
		}
	}
	.pickup-item__mode{
		color: $color7A8086;
		font-size: 14px;
		line-height: 16px;
	}
	.pickup-item__name, .pickup-item__mode, .pickup-item__phone{
		padding: 0 0 5px;	
	}
	.pickup-item__map{
		margin: 10px 0 0;
	}
	&:last-child{
		border-color: transparent;
	}
}

.pickup-modal{
	.modal-dialog {
	    width: 500px;
	}
	.modal-header{
		padding: 23px 30px;
		.modal-header__heading{
			color: $color212121;
			font-size: 24px;
			font-family: $familyRegular;
			font-weight: normal;
			line-height: 28px;
		}
	}
	.modal-body{
		color: $color212121;
		font-size: 18px;
		font-family: $familyRegular;
		font-weight: normal;
		line-height: 21px;
	    padding: 0;
	    strong{
			font-family: $familyBold;
			font-weight: bold;
	    }
	}
	.pickup-modal__info{
		padding: 25px 30px 20px;
	}
	.pickup-modal__item{
		margin: 0 0 22px;
		&.pickup-modal__item_but{
			margin: 30px 0 10px;
		}
	}
	.pickup-modal__map{
		width: 100%;
	}
	.pickup-modal__mark, .pickup-modal__mode{
		font-size: 14px;
		line-height: 16px;
	}
	.pickup-modal__mode{
		color: $color7A8086;
	}
}

@media (max-width: 1240px){
	.pickup-tab-content{
		padding: 10px 20px;
		max-height: 300px;
	}
	.pickup-item{
		font-size: 15px;
		line-height: 20px;
		padding: 10px 0;
		.pickup-item__content{
			width: calc(100% - 300px);
		}
		.pickup-item__buttons{
			width: 300px;
			.bt-cart{
				// min-width: 180px;
				margin: 10px 0 10px 20px;
			}
		}
		.pickup-item__mode{
			font-size: 14px;
			line-height: 16px;
		}
		.pickup-item__name, .pickup-item__mode, .pickup-item__phone{
			padding: 0 0 5px;	
		}
	}

	.pickup-modal{
		.modal-dialog {
		    width: 440px;
		}
		.modal-header{
			padding: 20px 20px 15px;
			.modal-header__heading{
				font-size: 22px;
				line-height: 26px;
			}
		}
		.modal-body{
			font-size: 16px;
			line-height: 20px;
		    padding: 0;
		}
		.pickup-modal__info{
			padding: 20px 20px 15px;
		}
		.pickup-modal__item{
			margin: 0 0 22px;
			&.pickup-modal__item_but{
				margin: 25px 0 10px;
			}
		}
		.pickup-modal__mark, .pickup-modal__mode{
			font-size: 14px;
			line-height: 16px;
		}
	}
}

@media (max-width: 1000px){
	.pickup-item{
		.pickup-item__content{
			width: calc(100% - 300px);
		}
		.pickup-item__buttons{
			width: 300px;
		}
	}
}

@media (max-width: 768px){
	.pickup-item{
		.pickup-item__content{
			width: calc(100% - 290px);
		}
		.pickup-item__buttons{
			width: 290px;
			.bt-cart{
				font-size: 13px;
				margin: 10px 0 10px 20px;
			}
		}
	}
}

@media (max-width: 640px){
	.pickup-tab-content{
		padding: 6px 15px;
		max-height: 320px;
	}
	.pickup-item{
		.pickup-item__content{
			width: calc(100% - 160px);
		}
		.pickup-item__buttons{
			width: 160px;
			@include flex-direction(column);
			.bt-cart{
				font-size: 13px;
				margin: 5px 0;
			}
		}
	}

	.pickup-modal{
		.modal-dialog {
		    width: 370px;
		}
		.modal-header{
			.modal-header__heading{
				font-size: 20px;
				line-height: 24px;
			}
		}
		.modal-body{
			font-size: 14px;
			line-height: 18px;
		    padding: 0;
		}
	}
}

@media (max-width: 540px){
	.pickup-tab-content{
		max-height: 360px;
	}
	.pickup-item{
		.pickup-item__content{
			width: 100%;
		}
		.pickup-item__buttons{
			width: calc(100% + 10px);
			@include flex-direction(inherit);
			margin: 0;
			.bt-cart{
			    width: calc(100% / 2 - 10px);
				font-size: 13px;
				margin: 5px;
				padding: 0 10px;
			}
		}
	}
}

@media (max-width: 400px){
	.pickup-modal{
		.modal-dialog {
		    width: 300px;
		}
	}
}

@media (max-width: 360px){
	.pickup-tab-content{
		max-height: 395px;
	}
	.pickup-item{
		.pickup-item__buttons{
			width: 100%;
			@include flex-direction(inherit);
			margin: 0;
			.bt-cart{
			    width: calc(100% / 1);
				font-size: 13px;
				margin: 5px 0;
				padding: 0 10px;
			}
		}
	}
}