.modal{
	.modal-dialog {
	    margin: auto;
	    padding: 30px 0;
	}
	.modal-header{
		border: none;
		.modal-close{
		 	position: absolute;
		 	top: 20px;
		 	right: 20px;
		 	width: 20px;
			height: 20px;
			cursor: pointer;
			opacity: 1;
		    z-index: 1051;
	        -webkit-appearance: listbox;
			div {
				position: relative;
				width: 100%;
				height: 2px;
				background: rgba($color212121, 0.8);
				@include transition(all .4s ease);
				@include transform(rotate(135deg));
				top: 10px;
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					left: 0;
					width: 100%;
					height: 2px;
					background: rgba($color212121, 0.8);
					@include transition(all .4s ease);
					top: 0;
        			@include transform(rotate(90deg));
				}
			}
			&:hover{
				div{
					background: rgba($color212121, 1);
					@include transform(rotate(225deg));
					&:before {
						background: rgba($color212121, 1);
					}
				}
			}
		}
	}
	&.in{
		display: -webkit-flex !important;
		 display: -webkit-box !important;
		 display: -ms-flexbox !important;
		    display: -moz-box !important;
		        display: flex !important;
        @include align-content(center);
        @include justify-content(center);
	}
}
.crtAuthorization-modal{
	.modal-dialog {
	    width: 450px;
	}
	.modal-header{
		padding: 0 40px;
		.crtAuthorization-logo{
			max-width: 100%;
			max-height: 80px;
		}
	}
	.modal-content{
		background: $colorWhite;
		padding: 30px 0;
	}
	.modal-body{
		padding: 0 40px;
	}
	.modal-footer{
		margin: 0;
		padding: 25px 40px 0;
		border-top: 1px solid $colorBorder;
	}
	.message-success{
		color: $color006D25;
	   	font-size: 16px;
	   	font-family: $familyBold;
	    font-weight: 700;
		padding: 10px 5px 0;
	}
	
}

@media (max-width: 1000px){
	.modal{
		.modal-dialog {
		    padding: 30px 0 70px;
		}
	}
}

@media (max-width: 480px){
	.crtAuthorization-modal{
		.modal-dialog {
		    width: 300px;
		}
		.modal-header{
			padding: 0 20px;
			.crtAuthorization-logo{
				max-height: 50px;
			}
		}
		.modal-content{
			background: $colorWhite;
			padding: 20px 0;
		}
		.modal-body{
			padding: 0 20px;
		}
		.modal-footer{
			padding: 25px 20px 0;
		}
		.message-success{
		   	font-size: 14px;
			padding: 10px 5px 0;
		}
		
	}
}