.breadcrumb{
	background: transparent;
	margin: 0px;
	padding: 30px 0px 10px; 
	li{
		position: relative;
		display: inline;
		color: $color757575;
		font-size: 14px;
		line-height: 22px;
		font-weight: normal;
		a{
			color: $color757575;
			border-bottom: 1px solid $color757575;
		}
		&.active{
			color: $color757575;
			a{
				color: $color757575;
			}
		}
	}
	&>li{
		&+li{
			&:before{
				color: $color757575;
				padding: 0px 6px 0px 10px;
			}
		}
	}
}

@media (max-width: 1000px){

}
@media (max-width: 640px){
	.breadcrumb{
		li{
			font-size: 14px;
			a{
				font-size: 14px;
			}
		}
		&>li{
			&+li{
				&:before{
					padding: 0px 4px 0px 6px;
				}
			}
		}
	}
}