.contact-box{
	padding: 15px 0 0;
	.contact-box__info{
		float: left;
		width: 470px;
		color: $colorBlack;
		h1{
			padding: 0 0 20px;
		}
		p{
			margin: 0;
			br{
				display: none;
			}
		}
		a{
			color: $colorBlack;
			span{
				color: $colorBlack !important;
			}
		}
	}
	.contact-box__map{
		float: right;
		width: calc(100% - 520px);
		iframe{
			width: 100% !important;
			height: 600px !important;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

@media (max-width: 1200px){
	.contact-box{
		.contact-box__info{
			float: none;
			width: 100%;
			padding: 0 0 40px;
		}
		.contact-box__map{
			float: none;
			width: 100%;
			iframe{
				height: 600px !important;
			}
		}
	}
}