.delivery-page-content{
	.delivery-page-content__info{
		width: calc(100% - 500px);
	}
	.delivery-page-content__img{
		width: 480px;
	}
}

@media (max-width: 1240px){
	.delivery-page-content{
		.delivery-page-content__info{
			width: 100%;
		}
		.delivery-page-content__img{
			display: none;
		}
	}
}

@media (max-width: 768px){
	.delivery-page-content{
		.delivery-page-content__info{
			width: 100%;
		}
		.delivery-page-content__img{
			width: 100%;
		}
	}
}