.page-content{
    padding: 0 0 40px;
    h1{
    	padding-top: 20px;
    }
    &.txt-style, .txt-style{
    	color: $colorBlack;
    	font-size: 18px;
    	line-height: 26px;
    }
    .delivery-ol{
    	li{
		    line-height: 1.3;
    		padding: 0 0 15px 5px;
    	}
    }
}

@media (max-width: 1000px){
	.page-content{
	    &.txt-style, .txt-style{
	    	font-size: 16px;
	    }
	}
}
/*.content{
	width: 1430px;
	padding: 0px 10px;
	margin: 0 auto;
}


@media (max-width: 1600px){
	.content{
		width: 1170px;
	}
}

@media (max-width: 1240px){
	.content{
		width: 960px;
	}
}

@media (max-width: 1000px){
	.content{
		width: 740px;
	}
}

@media (max-width: 768px){
	.content{
		width: 600px;
	}
}

@media (max-width: 640px){
	.content{
		width: 100%;
	}
}*/

// @import "_advantages";
// @import "./page/_review";
@import "_contact-page";
@import "_gallery-box";
@import "_delivery-page-content";
@import "_breadcrumb";
@import "_pagination";
// @import "_callback";