/* Pagination */
.pagination{
	display: block;
	text-align: center;
	margin: 0;
	.product-button{
		display: inline-block;
	}
	.product-link-pager{
		font-size: 16px;
		line-height: 1.0;
		letter-spacing: 0px;
		svg{
			width: 20px;
			height: 20px;
			@include transition(all .5s linear);
			path{
				fill: #fff;
			}
		}
		span{
			padding: 0 10px 0 0;
		}
		&:hover{
			svg{
				@include transform(rotate(90deg));
			}
		}
	}
}
.pagination-box{
	text-align: center;
	padding: 40px 0 0;
	.pagination{
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		li{
			margin: 0 -1px;
			a{
				@include flexbox();
				@include align-items(center);
				@include justify-content(center);
				width: 50px;
				height: 50px;
				text-align: center;
				line-height: 35px;
				padding: 0;
				background: transparent;
				border-color: $colorD9DDE8;
				color: $colorBlack;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.0;
				@include border-radius(0 !important) ;
				&:hover, &:focus{
					background: transparent;
					color: $color0074FF;
				}
			}
			&.active{
				a, span{
				    background: $color0074FF;
					border-color: $colorD9DDE8;
					color: $colorWhite;
				}
			}
			&.disabled{
				a{
					color: rgba($colorBlack, 0.5);
				}
			}
		}
	} 		
}

@media (max-width: 1600px){
	.pagination-box{
		.pagination{
			li{
				a{
					width: 46px;
					height: 46px;
					font-size: 16px;
					line-height: 1.0;
				}
			}
		} 		
	}
}

@media (max-width: 1200px){
	.pagination-box{
		.pagination{
			li{
				a{
					width: 40px;
					height: 40px;
					font-size: 14px;
					line-height: 1.0;
				}
			}
		} 		
	}
}

@media (max-width: 640px){
	/* Pagination */
	.pagination-box{
		padding: 30px 0 0;
		.pagination{
			li{
				a{
					width: 36px;
					height: 36px;
				}
			}
		}
	} 		
}

@media (max-width: 480px){
	/* Pagination */
	.pagination-box{
		.pagination{
			li{
				a{
					width: 32px;
					height: 32px;
				}
			}
		}
	} 		
}