.catalog-controls{
	width: 100%;
	height: 60px;
	margin: 0 0 30px;
	@extend .back-bord;
	@include border-radius(0);
	.catalog-controls__sort{
		width: calc(100% - 370px);
		height: 100%;
		.sort-box-wrapper{
			width: 225px;
			border-right: 1px solid $colorD9DDE8;
		}
		.catalog-controls-instock{
			padding: 0 20px;
			.filter-checkbox{
				margin: 0;
				padding: 0;
			}
		}
	}
	.catalog-controls__res{
		width: 370px;
		height: 100%;
	    padding: 0 20px 0 0;
		.countItem-inline{
			width: calc(100% - 60px);
			padding: 0 15px 0 0;
		}
		.template-product{
			width: 60px;
			margin: 0 -5px;
			.template-product__grid, .template-product__list{
				width: 20px;
				height: 20px;
				margin: 0 5px;
				svg{
					width: 100%;
					height: 100%;
					rect{
						fill: $colorBlack;
						@include transition(all .3s ease);
					}
				}
				&.active, &:hover{
					cursor: pointer;
					svg{
						rect{
							fill: $color0074FF;
						}
					}
				}
			}
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}
.countItem-inline{
	.countItem-inline__header{
		color: $colorBlack;
		font-size: 16px;
		font-family: $fontUbuntu;
		line-height: 18px;
		font-weight: normal;
		padding: 0 15px 0 0;
	}
	.countItem-inline__body{
	}
}


/* 
 * Выпадающий список в фильтрах
*/
.box-wrapper{
	position: relative;
	z-index: 10;
	color: $colorBlack;
	font-size: 16px;
	font-family: $fontUbuntu;
	line-height: 18px;
	font-weight: normal;
	height: 40px;
	@extend .back-bord;
    .box-wrapper__header{
	    text-align: right;
		width: 100%;
		height: 100%;
    	cursor: pointer;
    	padding: 0px 29px 0 9px;
    	&.view-loading {
			background-position-y: 0px !important;
			background-position-x: 5px !important;
		}
		span, svg{
			pointer-events: none;
		}
		i{
			margin: 0 10px 0 0;
		}
    	&:after {
		    content: "";
		    width: 10px;
		    height: 8px;
		    position: absolute;
		    top: 50%;
		    right: 10px;
		    margin-top: -2px;
		    // opacity: 0.6;
		    background: url('../images/svg/icon-open.svg') no-repeat;
		    @include background-size(contain);
		}
    }
	.box-wrapper__body{
		position: absolute;
		z-index: -1; 
	    top: calc(100% + 2px);
	    left: -1px;
	    opacity: 0;
	    width: calc(100% + 2px);
	    max-height: 0;
        margin: 0px;
	    padding: 0 12px;
	    overflow: hidden;
	    list-style: none;
	    @extend .back-bord;
	    @include transition(all 0.3s linear);
	    @include box-shadow(0 3px 15px rgba(0, 0, 0, 0.15));
	    .box-wrapper__link{
	    	position: relative;
			color: $colorBlack;
			font-size: 16px;
			font-family: $fontUbuntu;
			font-weight: normal;
			line-height: 19px;
	    	padding: 0 0 20px;
	    	cursor: pointer;
	    	&:last-child{
	    		padding: 0;
	    	}
	    	&.active, &:hover{
	    		color: $color0074FF;
	    	}
	    }
	}
	.box-wrapper__link{
		display: block;
		cursor: pointer;
		color: rgba($colorBlack, 0.7);
	}
	&.active {
		.box-wrapper__header{
			&:after {
			    opacity: 1;
			    margin-top: -4px;
			    @include transform(rotate(180deg));
			}
		}
		.box-wrapper__body{
			z-index: 5; 
			opacity: 1;
			padding: 20px 12px;
		    max-height: none;
		    @include transition(all 0.3s linear);
		}
	}
	&.countItem-wrapper{
		.box-wrapper__header{
			font-family: $fontUbuntu;
			font-weight: bold;
		}
		.countItem-wrapper__link{
			@include justify-content(center);
		}
	}
	&.sort-box-wrapper{
		height: 100%;
		border: none;
		@include border-radius(0);
		.box-wrapper__header{
			padding: 0px 45px 0 20px;
			&:after {
			    right: 20px;
			}
		}
		.box-wrapper__body{
			padding: 20px;
		}
		.box-wrapper__link{
			@include flexbox();
			i{
				margin: 0 10px 0 0;
			}
			&:hover {
				i{
					background-position: 0 -14px;
				}
			}
		}
		.filter-sort{
			position: relative !important;
			top: -1px !important;
			right: auto !important;
			width: 11px !important;
			height: 100% !important;
			margin: 0 10px 0 0;
		}
	}
	&:hover {
		.box-wrapper__header{
			color: $colorBlack;
			&:after {
			    opacity: 1;
			}
		}
	}
}
/* ***********/


/* 
 * Пагинатор у товаров 
*/
.product-nav{
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(flex-end);
	width: 100%;
	height: 50px;
	margin: 90px 0 0;
	.pagination-box{
		width: calc(100% - 270px);
	}
	.countItem-inline{
		position: relative;
		width: 270px;
		.box-wrapper{
			.box-wrapper__header{
				&:after {
					margin-top: -4px;
					@include transform(rotate(180deg));
				}
			}
			.box-wrapper__body{
				top: auto;
				bottom: calc(100% + 2px);
				@include box-shadow(0 -3px 15px rgba(0, 0, 0, 0.15));
			}
			&.active {
				.box-wrapper__header{
					&:after {
						margin-top: -2px;
					    @include transform(rotate(0deg));
					}
				}
			}
		}
	}
}
/* ***********/

@media (max-width: 1240px){
	.catalog-controls{
		.catalog-controls__sort{
			width: calc(100% - 250px);
		}
		.catalog-controls__res{
			width: 250px;
		}
	}

	.box-wrapper{
		font-size: 15px;
		line-height: 17px;
		height: 36px;
	    .box-wrapper__header{
	    	padding: 0px 25px 0 9px;
			i{
				margin: 0 9px 0 0;
			}
	    	&:after {
			    width: 10px;
			    height: 8px;
			    right: 10px;
			    margin-top: -2px;
			}
	    }
		.box-wrapper__body{
		    padding: 0 12px;
		    .box-wrapper__link{
				font-size: 15px;
				line-height: 18px;
		    	padding: 0 0 20px;
		    	&:last-child{
		    		padding: 0;
		    	}
		    }
		}
		&.active {
			.box-wrapper__body{
				padding: 20px 12px;
			}
		}
		&.sort-box-wrapper{
			.box-wrapper__header{
				padding: 0px 35px 0 15px;
				&:after {
				    right: 15px;
				}
			}
			.box-wrapper__body{
				padding: 15px;
			}
			.box-wrapper__link{
				i{
					margin: 0 9px 0 0;
				}
				&:hover {
					i{
						background-position: 0 -14px;
					}
				}
			}
			.filter-sort{
				width: 11px !important;
				margin: 0 10px 0 0;
			}
		}
	}
}

@media (max-width: 768px){
	.catalog-controls{
		position: absolute;
		z-index: 11;
		top: -30px;
		right: 0;
		width: 175px;
		height: 36px;
		border: none;
		@include transform(translateY(-100%));
		.catalog-controls__sort{
			width: 100%;
			.sort-box-wrapper{
				width: 100%;
				border: none;
			}
			.catalog-controls-instock{
				display: none;
			}
		}
		.catalog-controls__res{
			display: none;
		}
	}
	.box-wrapper{
		font-size: 14px;
		line-height: 16px;
		height: 36px;
	    .box-wrapper__header{
	    	padding: 0px 25px 0 9px;
			i{
				margin: 0 9px 0 0;
			}
	    	&:after {
			    width: 10px;
			    height: 8px;
			    right: 10px;
			    margin-top: -2px;
			}
	    }
		.box-wrapper__body{
		    padding: 0 12px;
		    .box-wrapper__link{
				font-size: 14px;
				line-height: 18px;
		    	padding: 0 0 20px;
		    	&:last-child{
		    		padding: 0;
		    	}
		    }
		}
		&.sort-box-wrapper{
			.box-wrapper__header{
				padding: 0px 25px 0 15px;
				&:after {
				    right: 5px;
				}
			}
			.box-wrapper__body{
				left: auto;
				right: 0;
				width: 180px;
				padding: 15px;
			}
		}
	}
}

@media (max-width: 640px){
	.catalog-controls{
		.catalog-controls__sort{
			// .catalog-controls-instock{
			// 	display: none;
			// }
		}
	}
}

@media (max-width: 360px){
	.catalog-controls{
		width: 165px;
	}
	.box-wrapper{
		font-size: 13px;
		line-height: 16px;
		.box-wrapper__body{
		    .box-wrapper__link{
				font-size: 13px;
				line-height: 18px;
		    }
		}
		&.sort-box-wrapper{
			.box-wrapper__header{
				padding: 0px 25px 0 12px;
			}
			.box-wrapper__body{
				padding: 12px;
			}
		}
	}
}

/*@media (max-width: 1600px){
	.catalog-controls{
		width: 445px;
		height: 40px;
		margin: 0 0 15px;
		.catalog-controls__summary{
			width: calc(100% - 260px);
		}
		.catalog-controls__res{
			width: 260px;
			.countItem-box{
				width: calc(100% - 78px);
			}
			.template-product{
				width: 78px;
				margin: 0 -5px;
				.template-product__grid, .template-product__list{
					height: 21px;
					margin: 0 5px;
				}
			}
		}
	}
	.summary{
		font-size: 15px;
		line-height: 18px;
	}

	.box-wrapper{
		font-size: 14px;
		line-height: 18px;
	    .box-wrapper__header{
	    	padding: 0px 29px 0 9px;
	    }
		.box-wrapper__body{
		    padding: 0 10px;
		    .box-wrapper__link{
				font-size: 14px;
				line-height: 19px;
		    	padding: 0 0 16px;
		    	&:last-child{
		    		padding: 0;
		    	}
		    }
		}
		&.active {
			.box-wrapper__body{
				padding: 15px 10px;
			}
		}
		&.sort-box-wrapper{
			.box-wrapper__header{
				padding-left: 15px;
			}
			.filter-sort{
				margin: 0 10px 0 0;
			}
		}
	}
	.product-nav{
		margin: 70px 0 0;
	}
}

@media (max-width: 1000px){
	.catalog-controls{
		width: 270px;
		height: 40px;
		margin: 0 0 25px;
		.catalog-controls__summary{
			display: none;
		}
		.catalog-controls__res{
			width: 100%;
			height: 100%;
			.countItem-box{
				width: calc(100% - 78px);
			}
			.template-product{
				width: 78px;
				margin: 0 -5px;
				.template-product__grid, .template-product__list{
					height: 21px;
					margin: 0 5px;
				}
			}
		}
	}
	.product-nav{
		margin: 20px 0 0;
		.pagination-box{
			width: calc(100% - 200px);
		}
		.catalog-controls{
			width: 200px;
		}
	}
}

@media (max-width: 768px){
	.catalog-controls{
		@include flex-wrap(wrap);
		height: auto;
		margin: 0;
		// border: 1px solid #dcdcdc;
		.catalog-controls__sort{
			width: 100%;
			height: auto;
			margin: 0 0 30px;
			.control-box{
				@include justify-content(flex-end);
			}
		}	
		.catalog-controls__res{
			display: none;
		}
	}
	.control-box{
		@include flex-wrap(wrap);
		font-size: 14px;
		.control-box__header{
			width: 100%;
		}
		.control-box__body{
			width: 100%;
			height: 30px;
			margin: 10px 0 0;
		}
		&.sort-box{
			.sort-box__body{
				width: 100%;

			}
		}
		&.countItem{
			@include justify-content(flex-end);
		}
	}
	.product-nav{
		height: auto;
		margin: 20px 0 0;
		.pagination-box{
			width: 100%;
		}
		.catalog-controls{
			display: none;
		}
	}
}*/