.notifications {
    display: none;
    position: fixed;
    z-index: 1050;
    &.top-right {
        right: 15px;
        bottom: 15px;
    }
    & > div {
        position: relative;
        z-index: 9999;
        background-color:  $color0074FF;
        border: 2px solid $color0074FF;
        color: #fff;
        padding: 20px 25px;
        @include border-radius(4px);
    }
   @media (max-width: 1000px){
        &.top-right {
            bottom: 90px;
             & > div {
                padding: 10px 25px;
            }
        }
   }
   @media (max-width: 480px){
        &.top-right {
            width: 100%;
            right: 0;
            bottom: 60px;
            & > div {
                font-size: 16px;
                padding: 7px 20px;
                text-align: center;
                @include border-radius(0);
            }
        }
    }
}

.js-notification{
    display: none;
    position: fixed;
    z-index: 1050;
    width: 100%;
    left: 0;
    bottom: 75px;
    & > div {
        position: relative;
        width: 100%;
        background: $color0074FF;
        color: #fff;
        font-size: 18px;
        padding: 7px 20px;
        cursor: pointer;
        -webkit-appearance: listbox;
        text-align: center;
    }
    @media (max-width: 480px){
        bottom: 60px;
        & > div {
            font-size: 16px;
        }
    }
}

@import "_catalog-controls";
@import "_sorter";
@import "_selected-filters";
@import "_product-cart";
