.product-cart{
    .product-cart__img{
    	width: 140px;
    }
    .product-cart__info{
    	width: calc(100% - 140px);
    	padding: 0 0 0 20px;
    }
    .product-cart__name{
    	width: calc(100% - 180px);
		padding: 0 20px 0 0;
		.product-name{
		    height: auto;
	    	font-size: 16px;
		}
    }
    .product-cart__price{
		width: 180px;
		text-align: right;
		padding: 0 0 0 10px;
		&.product-price{
		    .product-price__res, .product-price__old{
				width: 100%;
		    }
		    .product-price__old{
				text-decoration: line-through;
				color: #757575;
				font-weight: 500;
		    }
		}
    }
}

@media (max-width: 640px){
	.product-cart{
	    .product-cart__img{
	    	width: 100px;
	    }
	    .product-cart__info{
	    	width: calc(100% - 100px);
	    	padding: 0 0 0 15px;
	    }
	    .product-cart__name{
	    	width: calc(100% - 135px);
			padding: 0 5px 0 0;
			.product-name{
		    	font-size: 14px;
			}
	    }
	    .product-cart__price{
			width: 135px;
			padding: 0 0 0 10px;
	    }
	}
}

@media (max-width: 480px){
	.product-cart{
	    .product-cart__img{
	    	width: 100px;
	    }
	    .product-cart__info{
	    	@include flex-wrap(wrap);
	    	width: calc(100% - 100px);
	    	padding: 0 0 0 15px;
	    }
	    .product-cart__name{
	    	width: 100%;
			padding: 0 0 5px;
			.product-name{
		    	font-size: 14px;
			}
	    }
	    .product-cart__price{
			width: 100%;
			padding: 0;
			text-align: left;
			.product-price__res{
				order: 2;
			}
			.product-price__old{
				order: 1;
				text-align: left;
				padding: 0 0 3px;
			}
	    }
	}
}