/* Выбранные фильтры */
.selected-filters{
	width: 100%;
	// min-height: 50px;
	margin: 0;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	margin: 0 -5px;
	span, .reset-filter{
		position: relative;
		@include flexbox();
		@include align-items(center);
		height: 32px;
	    font-size: 14px;
		line-height: 1.0;
		margin: 0 5px 5px;
		@include border-radius(5px);
		&:before, &:after {
			content: '';
			position: absolute;
			top: calc(50% - 4px);
			right: 15px;
			height: 11px;
			width: 1px;
			opacity: 1;
			background-color: $colorWhite;
	    	@include transition(transform .3s);
		}
		&:before {
			@include transform(rotate(45deg));
		}
		&:after {
			@include transform(rotate(-45deg));
		}
		&:hover{
			&:before, &:after{
	    		opacity: 1;
	    		background-color: $colorWhite;
	    	}
	    	&:before {
				@include transform(rotate(135deg));
			}
			&:after {
				@include transform(rotate(45deg));
			}
	    }
	}
	.label{
	    white-space: normal;
	    font-weight: normal;
	    background: $color0074FF;
		color: $colorWhite;
        padding: 5px 30px 5px 10px;
	    line-height: 1.0;
	    text-align: center;
        -webkit-appearance: listbox;
    	cursor: pointer;
	    @include transition(all .3s linear);
	    &:hover{
	    	color: $colorWhite;
	    	cursor: pointer;
	    	background: $color0074FF;
	    }
	}
	.reset-filter{
		border: none;
    	background: $colorF2F3F5;
		color: $colorBlack;
		padding: 5px 30px 5px 10px;
    	cursor: pointer;
    	@include transition(all .3s linear);
    	&:before, &:after {
			background-color: $colorBlack;
		}
		&:hover{
    		color: $colorWhite;
    		background: $colorFF0000;
    		color: $colorBlack;
    		background: darken($colorF2F3F5, 5%);
			&:before, &:after{
				opacity: 1;
				background-color: $colorWhite;
				background-color: $colorBlack;
			}
		}
    }
	&.active{
		margin: 0 -5px 25px;
	}
}

@media (max-width: 1000px){
	.selected-filters{
		span{
			height: 30px;
		    font-size: 14px;
			line-height: 1.3;
		}
		.label{
	        padding: 5px 30px 5px 10px;
		}
		.reset-filter{
			padding: 5px 30px 5px 10px;
	    }
		&.active{
		}
	}
}