.catalog-content{
	width: 100%;
	padding: 0 0 55px;
	.catalog-content__sidebar{
		width: 270px;
	}
	.catalog-content__content{
		width: calc(100% - 300px)
	}
}

.sidebar-box{
	.sidebar-box__close{
		@media (min-width: 1241px){
			display: none;
		}
	}
}

.search-product-page{
	height: 50px;
	margin: 0 0 30px;
	form{
		width: 100%;
		height: 100%;
		background: $colorWhite;
		border: 1px solid $colorD9DDE8;
		input{
			padding: 0 50px 0 20px;
			border: none;
		}
		.input-group-btn{
			left: auto;
			right: 0;
			width: 50px;
		}
	}
}

@media (max-width: 1240px){
	.catalog-content{
		.catalog-content__sidebar{
			float: none;
			width: 100%;
		}
		.catalog-content__content{
			float: none;
			width: 100%;
		}
	}
	.sidebar-box{
		position: relative;
		z-index: 1050;
		display: block;
		.sidebar-box__close{
			opacity: 0;
		    position: fixed;
		    z-index: 1056;
			top: 0;
			left: 0;
		  	width: 35px;
			height: 35px;
			text-align: center;
		    cursor: pointer;
		    -webkit-appearance: listbox;
		    @include border-radius(0);
			@include transition(all .3s linear .3s);
			svg{
				width: 17px;
				height: 100%;
				path{
					fill: rgba(255,255,255,1);
				}
			}
			&:hover{
				// background: #FFA600;
				svg{
					path{
						// fill: #212121; 
					}
				}
			}
		}
		#store-filter{
			position: fixed;
			z-index: 1052;
			top: 0;
			left: -280px;
			width: 280px;
			height: 100vh;
			background: #fff;
			opacity: 0;
			pointer-events: none;
			@include transition(all .3s linear .3s);
			max-height: 100%;
			overflow: hidden;
			overflow-y: auto;
			&.active{
		    	left: 0;
		    	opacity: 1;
				pointer-events: all;	 
	    	}
		}
		.sidebar-box__notFind{
			display: none;
		}
		&.active{
			.sidebar-box__close{
				pointer-events: none;
				opacity: 1;
				left: 279px;
				// @include transition(all .3s ease .5s);
			}
	    	&:after{
				pointer-events: all;
			    z-index: 1040;
				background: rgba(0, 0, 0, 0.6);
			}
	    }
		&:after{
	    	content: '';
	    	display: block;
	    	position: fixed;
	    	z-index: -1040;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	pointer-events: none;
	    	background: rgba(0, 0, 0, 0);
	    	@include transition(all .3s linear .3s);
	    }
	}
}

@media (max-width: 1000px){
	.sidebar-box{
		#store-filter{
			padding: 0 0 75px;
		}
	}
}


@media (max-width: 640px){
	.catalog-content{
		padding: 0;
	}
}
