.ajax-loading{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	// opacity: 0;
	z-index: 100;
	pointer-events: none;
	// @include transition(all .3s linear);
	&:after{
		content: '';
		display: block;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4) url('../images/ajax-loading.gif') center no-repeat !important;
	}
	&.active{
		opacity: 1;
	}
}
.list-view-loading{
	background: url('../images/loading.gif') no-repeat !important;
	background: transparent !important;
    background-position-y: 57px !important;
    background-position-x: 0 !important;
    .product-box, .product-list{
    	pointer-events: none;
		height: auto;
		.product-box-badge__item, .yupe-store-favorite-add, .yupe-store-favorite-remove{
			opacity: 0;
		}
		.product-attr__inf, 
		.product-list__desc, 
		.product-list__img, 
		.product-list__but, 
		.imagesDots-list__item, 
		.product-box__img, 
		.discount-percent, 
		.product-name, 
		.product-box__but, 
		.product-price__res, 
		.strikethrough{
			position: relative;
			display: block;
			&:after{
				content: '';
				position: absolute;
				z-index: 1;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($colorF5F5F5, 1);
			}
		}
		.product-attr__inf,
		.product-list__but,
		.product-box__but{
			display: inline-block;
		}
    }
}

.but-menu-filter{
	display: none;
	width: 170px;
	margin: 0 0 30px;
	span{
		padding: 0 0 0 10px;
	}
	.but{
		@include border-radius(0);
	}
}

.filter-content{
	input[type='reset'], input[type="submit"], button{
		width: 100%;
		span{
			pointer-events: none;
		}
	}
}
.filter-button{
	margin: 20px -9px 0;
	button{
		width: calc(100% / 2 - 18px);
		margin: 0 9px 18px;
		&.but-border{
			border-width: 1px !important;
		}
	}
	&:hover, &:focus, &:active{
		button[type='reset']{
			svg.filter-close{
				@include transform(rotate(90deg) !important);
			}
		}
	}
}
/* Блок с фильтром */
.filter-block{
	background: $colorWhite;
	border: 1px solid $colorD9DDE8;
	margin: -1px 0px 0px;
	.filter-block__header{
		position: relative;
		color: $colorBlack;
		font-size: 16px;
		line-height: 18px;
		font-weight: 500;
		cursor: pointer;
		padding: 20px 20px;
	}
	.filter-block__heading{
		width: calc(100% - 12px);
		padding: 0 10px 0 0;
		span{
			width: calc(100% - 12px);
			padding: 0 0 0 12px;
		}
		svg{
			width: 12px;
			height: 12px;
			margin: 4px 0 0 2px;
			@include transform(rotate(0deg));
			path{
				fill: $colorBlack;
			}
		}
	}
	.filter-block__reset{
		width: 12px;
		height: 12px;
		opacity: 0;
		pointer-events: none;
		svg{
			width: 100%;
			height: 100%;
			@include transition(transform .2s);
			path{
				fill: $color0074FF;
			}
		}
		a{
			width: 100%;
			height: 100%;
		}
		&:hover, &:focus, &:active{
			svg{
				@include transform(rotate(90deg));
			}
		}
	}
	.filter-block__body{
		padding: 5px 0 10px 20px;
		display: none;
	}
	.filter-block__list{
		position: relative;
		padding-right: 20px;
		&.active{
			height: 240px;
			overflow: hidden;
			overflow-y: auto;
			scrollbar-color: ligthen(rgba($colorBlack, .1), 5) rgba($colorBlack, .2);
			scrollbar-width: thin;
			&::-webkit-scrollbar-track
			{
				-webkit-box-shadow: none;
			    opacity: .1;
				background: rgba($colorBlack, .1);
			}
			&::-webkit-scrollbar
			{
				width: 6px;
				background-color: transparent;
			}
			&::-webkit-scrollbar-thumb
			{
				-webkit-box-shadow: none;
				background-color: rgba($colorBlack, .2);
			}
		}
	}
	.filter-block__more{
		display: inline-block;
		margin: 5px 0 10px;
	}
	.filter-block__footer{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: -20px;
			display: block;
			width: 100%;
			height: 20px;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		}
	}
	.filter-block__but{
		position: relative;
		margin: 18px 0 0;
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			top: -12px;
			display: block;
			width: 100%;
			height: 12px;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		}
		&.filter-block__but_noafter{
			&:after{
				display: none;
			}
		}
	}
	/*&.filter-block-category{
		.filter-block__header{
			color: #FFFFFF;
			background: $color0074FF;
			svg{
				path{
					fill: #FFFFFF;
				}
			}
		}
		.filter-block__body{
			padding-top: 15px;
		}
	}*/
	&.filter-block-input-range{
		.filter-block__body{
			padding: 5px 20px 20px;
		}
		.but-filter{
			width: 100%;
		}
	}
	&.active{
		.filter-block__header{
		}
		.filter-block__heading{
			svg{
				@include transform(rotate(180deg));
				path{
					fill: $color0074FF;
				}
			}
		}
		.filter-block__body{
			display: block;
		}
		&.visibles{
			.filter-block__header{
				@include box-shadow(0 3px 15px rgba($colorBlack, .1));
			}
			.filter-block__body{
				padding-top: 15px !important;
			}
		}
	}
	/*&.visiblity{
		.filter-block__heading{
			svg{
				@include transform(rotate(180deg));
				path{
					fill: $color0074FF;
				}
			}
		}
		.filter-block__body{
			display: block;
		}
	}*/
	&.selected{
		.filter-block__reset{
			opacity: 1;
			pointer-events: all;
		}
	}
}

/* Список категорий */
.category-list-filter{
	margin: 0;
	padding: 0;
	list-style-type: none;
	.category-list-filter__item{
		padding: 0 0 10px 25px;
		a{
			position: relative;
			color: $color323232;
			font-size: 16px;
			line-height: 1.2;
			font-weight: normal;
			border-bottom: 1px solid transparent;
			// &:after{
			// 	content: '';
			// 	position: absolute;
			// 	bottom: 0;
			// 	left: 0;
			// 	width: 0;
			// 	height: 1px;
			// 	opacity: 0;
			// 	background: $color0074FF;
			// 	@include transition(all .3s linear);
			// }
			&:hover{
				color: $color0074FF;
			}
			&.active {
				color: $color0074FF;
				border-color: $color0074FF;
				// &:after{
				// 	width: 100%;
				// 	opacity: 1;
				// }
			}
		}
	}
}

.input-check{
	width: 13px;
    height: 13px;
	&:before, &:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		@include border-radius(50%);
		@include transition(all .3s);
	}
	&:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(#b8b8b8, 1);
    }
    &:after {
        top: calc(50% - 3.5px);
    	left: calc(50% - 3.5px);
		width: 7px;
    	height: 7px;
        background: rgba(#888888, 1);
        opacity: 0;
    }
    &.active, &:hover{
		&:after {
	        opacity: 1;
	    }
	}
}

/* Чекбоксы */
.filter-xs-visible{
	@media (min-width: 769px){
		display: none !important;
	}
}
.filter-checkbox{
	position: relative;
	width: 100%;
	margin: 0;
    padding: 0 0 20px;
	label{
		@include flexbox();
		@include align-items(center);
		position: relative;
		color: $color323232;
		font-size: 16px;
		line-height: 1.2;
		font-weight: normal;
		margin: 0;
	}
	input[type="checkbox"] {
	    position: absolute;
	    left: -9999px;
	    & + label {
		    padding-left: 30px;
		    &:before{
		    	content: '';
		    	display: block;
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	background: url('../images/icon/checkbox.png') 0 0 no-repeat;
		    	width: 20px;
		    	height: 20px;
		    }
		}
		&:checked{
			& + label {
				&:before{
			    	background-position: 0 -20px;
				}
			}
		}
	}
	input[type="radio"]{
        vertical-align: top;
        width: 14px;
        height: 14px;
        margin: 0 3px 0 0;
        & + label {
            font-weight: normal;
            cursor: pointer;
            
        }
        &:not(checked) {
            position: absolute;
            opacity: 0;
            & + label {
                position: relative;
                padding: 0 0 0 30px;
                
                &:before, &:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					@include border-radius(50%);
					@include transition(all .3s);
				}
				&:before {
			        top: 0;
			        left: 0;
			        width: 13px;
    				height: 13px;
			        border: 1px solid rgba($colorD9DDE8, 1);
			    }
			    &:after {
			        top: calc(50% - 3.5px);
			    	left: calc(50% - 3.5px);
					width: 7px;
			    	height: 7px;
			        background: rgba($colorD9DDE8, 1);
			        opacity: 0;
			    }
            }
        }
        &:checked{
            & + label{
				&:before {
					border-color: $color0074FF;
				}
				&:after {
                    opacity: 1;
					background: $color0074FF;
				}
            }
        }
    }
    &.filter-disabled{
    	pointer-events: none;
    	opacity: 0.4;
    }
}

/* Два инпута у range */
.filter-block-range{
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -9px;
	.filter-block-range__item{
		width: calc(100% / 2 - 18px);
		height: 40px;
		margin: 0 9px 18px;
		border: 1px solid $colorD9DDE8;
		@include border-radius(0);
		&:hover, &:focus {
			@include box-shadow(none);
			border-color: $colorD9DDE8;
		}
	}
	 input[type="number"]{
		-webkit-appearance: none;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&:hover,
		&:focus {
			-webkit-appearance: none;
			-moz-appearance: number-input;
		}
	}
}

@media (max-width: 1240px){
	.but-menu-filter{
		display: block;
	}
	.filter-block{
		border-left: none;
	}
	.filter-button{
		padding: 20px 11px 5px;
		margin: 0;
	}
	/* Блок с фильтром */
	.filter-block{
		&.filter-block-category{
			.filter-block__body{
				padding: 10px 25px 20px;
			}
		}
	}
}

@media (max-width: 768px){
	.filter-block-stock{
		padding: 20px !important;
	}
}

@media (max-width: 640px){
	.but-menu-filter{
		// width: 100%;
		width: 150px;
	}
}

@media (max-width: 360px){
	.but-menu-filter{
		width: 125px;
	}
}