.product-list{
	.product-list__item{
		position: relative;
		z-index: 1;
		width: 100%;
		max-height: 243px;
		margin: 0;
		padding: 20px;
		margin: 0 0 10px;
		border-bottom: 1px solid $colorD9DDE8;
		// @include transition(all .2s);
		&:hover, &:focus, &:active, &.active{
		}
	}
	.product-list__img{
		position: relative;
		width: 240px;
		height: 202px;
		a{
			width: 100%;
			height: 100%;
			text-align: center;
		}
		picture{
			width: 100%;
			height: 100%;
			source, img{
				max-width: 100%;
				max-height: 100%;
			}
		}
		.imagesDots-list{
			top: auto;
		    bottom: -12px;
		}
	}
	.product-list__content{
		position: relative;
		width: calc(100% - 240px);
		padding: 10px;
		.product-box-badge{
			position: absolute;
			top: -20px;
			width: calc(100% - 30px);
			left: 16px;
			.product-box-badge__item{
				@include inline-flex();
				width: auto;
				text-align: left;
			}
		}
		.product-list__favorite{
			position: absolute;
		    right: 10px;
    		top: 9px;
		}
	}

	.product-list__name{
		max-height: 52px;
		overflow: hidden;
		margin: 0 0 10px;
		.product-name{
			font-size: 18px;
		}
	}
	.product-list__attr{
		padding: 0 0 25px;
	}
	.product-list__desc{
		position: relative;
		overflow: hidden;
		color: $color757575;
		font-size: 14px;
		font-weight: normal;
		line-height: 17px;
		height: calc(100% - 125px);
		&:after{
			content: '';
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: 0px;
			display: block;
			width: 100%;
			height: 20px;
			background: rgba(255,255,255,0);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
		}
	}
	.product-list__price{
		padding: 0 0 15px;
	}
	.product-list__bottom{
		padding: 0 0 10px;
	}
}

.product-attr{
	.product-attr__item{
		width: 100%;
		color: $color757575;
		font-size: 14px;
		font-weight: normal;
		line-height: 17px;
		div{
			display: inline-block;
		}
		span{
			// color: $colorBlack;
			padding: 0 0 0 2px;
		}
	}
}

.product-list-content{
	.product-list-content__item{
		&.product-list-content__item_0{
			width: calc(100% - 235px);
			padding: 0 20px 0 10px;
		}
		&.product-list-content__item_1{
			width: 235px;
		}
	}
}

@media (max-width: 1600px){
	.product-list-content{
		.product-list-content__item{
			&.product-list-content__item_0{
				width: calc(100% - 202px);
				padding: 0 20px;
			}
			&.product-list-content__item_1{
				width: 202px;
			}
		}
	}
}

@media (max-width: 1000px){
	.product-list{
		.product-list__item{
			padding: 20px 15px;
		}
		.product-list__img{
			width: 180px;
			height: 164px;
			.product-badge{
				top: 10px;
				left: 10px;
			}
		}
		.product-list__content{
			width: calc(100% - 180px);
			padding: 10px;
		}

		.product-list__name{
			padding: 0 0 10px;
		}
		.product-list__attr{
			padding: 0 0 12px;
		}
		.product-list__desc{
			display: none;
			height: 47px;
		}
		.product-list__price{
			padding: 0 0 15px;
		}
		.product-list__bottom{
			padding: 0 0 10px;
		}
	}
	.product-list-content{
		.product-list-content__item{
			&.product-list-content__item_0{
				width: calc(100% - 175px);
				padding: 0px 10px 0 5px;
			}
			&.product-list-content__item_1{
				width: 175px;
			}
		}
	}
}
/* @media (max-width: 1000px){
	.product-list{
		.product-list__item{
			padding: 16px;
		}
		.product-list__img{
			width: 140px;
			height: 145px;
			line-height: 145px;
		}
		.product-list__content{
			width: calc(100% - 140px);
			padding: 0 0 0 25px;
			.product-box-badge{
				.product-box-badge__item{
					margin: 0 19px 7px 0;
				}
			}
		}
		.product-list__price{
			padding: 0 15px;
			.product-price__old{
				padding: 0 30px 0 0;
			}
		}
	}
	
	.product-list-content{
		.product-list-content__item{
			&.product-list-content__item_0{
				width: calc(100% - 235px);
			}
			&.product-list-content__item_1{
				width: 235px;
				padding: 32px 0 0;
			}
		}
	}
} */