.product-box{
	.empty{
		color: $colorBlack;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.2;
		padding: 30px 10px;
	}
	.product-box__item{
		position: relative;
		z-index: 1;
		width: calc(100% / 3);
		padding: 50px 20px 20px;
		&:hover, &:focus, &:active, &.active{
			z-index: 2;
			.product-box__favorite{
				opacity: 1;
			}
		}
	}
	.product-box__img{
		position: relative;
		width: 100%;
		height: 245px;
		a{
			width: 100%;
			height: 100%;
			text-align: center;
		}
		picture{
			width: 100%;
			height: 100%;
			source, img{
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	.product-box__info{
		position: relative;
		height: calc(100% - 245px);
		padding: 35px 0 0;
	}
	.product-box__price{
		&.product-price{
			.product-price__res{
				// width: 175px;
			}
		}
	}
	.product-box__name{
		padding: 10px 0 0;
	}
	.product-box__bottom{
		padding: 30px 0 0;
		.product-box__but{
			padding: 0 10px 0 0;
		}
	}
	.product-box__but{
		width: 121px;
	}
	.product-box__favorite{
		position: absolute;
		top: 20px;
		right: 20px;
		opacity: 0;
		@include transition(.2s);
	}
	&.favorite-box{
		.product-box__item{
			width: calc(100% / 4);
		}
		.product-box__info{
			position: relative;
		}
		.favorite-box__delete{
			position: absolute;
		    top: -36px;
	    	right: 0;
	    	width: 100%;
	    	height: 36px;
		    .favorite-delete{
			    width: 36px;
			    height: 100%;
			    text-align: center;
			    color: $color0074FF;
			    font-size: 20px;
			    background: $colorF2F3F5;
				cursor: pointer;
				@include border-radius(50%);
				@include transition(all .3s ease);
				&:hover{
					color: $colorWhite;
					background: $color0074FF;
				}
		    }
		}
	}
	&.product-box-carousel{
		.slick-list{
			// padding: 0 1px;
		}
		.slick-track{
			@include flexbox();
			margin: 0;
		}
		.slick-slide{
			opacity: 0;
			@include transition(all .3s linear 1s);
			&.slick-active{
				opacity: 1;
				@include transition(all .3s linear);
			}
		}
		.slick-slide{
			height: auto !important;
			opacity: 0;
			margin: 0 0 30px;
			@include transition(all .3s linear 1s);
			&.slick-active{
				opacity: 1;
				@include transition(all .3s linear);
			}
			.product-box__item{
				width: calc(100% / 1) !important;
				height: 100%;
			}
		}
		.product-box__item{
			width: calc(100% / 1) !important;
		}
		.product-box__name{
			padding: 10px 0;
		}
		.slick-prev,
		.slick-next {
			top: 200px;
			// left: auto !important;
			@include transform(translate(0, -100%));
		}
	}
}

.imagesPr-list{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.imagesPr-list__item{
		width: 100%;
		height: 100%;
	}
}

.imagesDots-list{
	position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
	.imagesDots-list__item{
		width: 5px;
		height: 5px;
		background: $colorD9DDE8;
		margin: 0 2.5px;
		@include border-radius(50%);
		&.active{
			background: $color0074FF;
		}
	}
}

.product-box-badge{
	position: absolute;
	top: 15px;
	left: 20px;
	.product-box-badge__item{
		position: relative;
	    width: auto;
		height: 25px;
		color: $colorBlack;
		font-size: 15px;
		font-weight: 500;
		line-height: 25px;
		padding: 0 4px;
		margin: 0 0 3px;
		text-align: center;
		@include border-radius(10px);
	}
}

.product-name{	
	color: $colorBlack;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	&:hover{
		color: $color0074FF;
	}
}

.product-price{
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	.product-price__discountPercent{
		width: 100%;
		padding: 0 0 12px;
	}
	.product-price__res{
		color: $colorBlack;
		padding: 0;
		svg{
			width: 10px;
			height: 12px;
			path{
				fill: $colorBlack;
			}
		}
	}
	.product-price__old{
		color: $colorBlack;
		font-size: 16px;
		line-height: 20px;
		padding: 0 0 0 18px;
		svg{
			width: 8px;
			height: 10px;
			path{
				fill: $colorBlack;
			}
		}
	}
	.strikethrough{
		position: relative;
		&:before {
		    border-bottom: 2px solid $colorFF0000;
		    position: absolute;
		    content: "";
		    width: 100%;
		    height: 50%;
		    @include transform(rotate(-7deg));
		}
	}
	&.product-price-new{
		.product-price__res{
			color: $colorFF0000;
			svg{
				path{
					fill: $colorFF0000;
				}
			}
			.ruble{
				.icon-ruble-res{
					background-position: 0 -11px;
				}
			}
		}
	}
	.ruble{
		.icon-ruble-res{
			display: inline-block;
			width: 10px;
			height: 11px;
			background: url('../images/svg/icon-ruble-res.svg') no-repeat;
		}
		.icon-ruble-old{
			display: inline-block;
			width: 8.2px;
			height: 10px;
			background: url('../images/svg/icon-ruble-old.svg') no-repeat;	
		}
	}
}

.discount-percent{
	position: relative;
	width: 44px;
	color: $colorWhite;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	// background: $colorEC4700;
	@include border-radius(5px);
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 44px;
		height: 25px;
		background: url('../images/svg/icon-discount-price.svg') no-repeat;
		@include transform(translateY(-5px));
		@include background-size(contain);
	}
}

.product-box-but{
	.but{
		padding: 0 12px;
		@include transition(opacity .3s);
		&.but-svg{
			svg{
				path{
					fill: #FFFFFF;
				}
			}
			&.but-svg-left {
				span {
				    padding: 0 0 0 8px;
				}
			}
		}
		&.but-go-cart{
			padding: 0 10px;
			svg, .ic-cart{
				display: none;
				width: 0;
			}
		}
		&.active {
			pointer-events: none;
			.icon-load{
				position: absolute;
				top: calc(50% - 12px);
				left: calc(50% - 12px);
				display: inline-block;
			}
			svg, .ic-cart{
				opacity: 0;
				display: none;
			}
			span{
				opacity: 0;
				// opacity: 0;
			}
		}
	}
}

.product-but-favorite{
	.yupe-store-favorite-add, .yupe-store-favorite-remove,
	.yupe-product-favorite-add, .yupe-product-favorite-remove{
		img{
			-o-object-fit: none;
	    	object-fit: none;
			
			width: 22px;
			height: 22px;
		}
	}
	.yupe-store-favorite-add,
	.yupe-product-favorite-add{
		img{
			object-position: 0 0;
			&:hover{
				object-position: 0 -22px;
			}	
		}
		.ic-favorite{
			background-position: 0 0;
			&:hover{
				background-position: 0 -22px;
			}
		}
	}
	.yupe-store-favorite-remove,
	.yupe-product-favorite-remove{
		img{
			object-position: 0 -44px;
			&:hover{
				object-position: 0 -66px;
			}
		}
		.ic-favorite{
			background-position: 0 -44px;
			&:hover{
				background-position: 0 -66px;
			}
		}
	}
}

@media (max-width: 1400px){
	.product-price{
		font-size: 20px;
		line-height: 20px;
		.product-price__old{
			font-size: 16px;
			line-height: 20px;
			padding: 0 0 0 15px;
		}
	}
}

@media (max-width: 1240px){
	.product-box{
		.empty{
			font-size: 15px;
			line-height: 1.2;
			padding: 25px 10px;
		}
		.product-box__item{
			width: calc(100% / 3);
			padding: 45px 18px 18px;
		}
		.product-box__img{
			height: 205px;
		}
		.product-box__info{
			height: calc(100% - 205px);
			padding: 25px 0 0;
		}
		.product-box__name{
			padding: 10px 0 0;
		}
		.product-box__bottom{
			padding: 20px 0 0;
			.product-box__but{
				padding: 0 10px 0 0;
			}
		}
		.product-box__but{
			width: 121px;
		}
		.product-box__favorite{
			top: 18px;
			right: 18px;
		}
		&.favorite-box{
			.product-box__item{
				width: calc(100% / 3);
			}
		}
		&.product-box-carousel{
			.slick-slide{
				margin: 0 0 30px;
			}
			.product-box__name{
				padding: 10px 0;
			}
			.slick-prev,
			.slick-next {
				top: 165px;
			}
		}
	}
	.product-box-badge{
		left: 18px;
	}
}

@media (max-width: 768px){
	.product-box-listView{
		position: relative;
	}
}

@media (max-width: 640px){
	.product-box{
		.empty{
			font-size: 15px;
			line-height: 1.2;
			padding: 25px 10px;
		}
		.product-box__item{
			width: calc(100% / 2);
			padding: 35px 12px 12px;
			margin: 0 0 20px;
		}
		.product-box__img{
			height: 185px;
		}
		.product-box__info{
			height: calc(100% - 185px);
			padding: 20px 0 0;
		}
		.product-box__bottom{
			padding: 15px 0 0;
		}
		.product-box__but{
			width: 121px;
		}
		.product-box__favorite{
			top: 7px;
			right: 12px;
		}
		&.favorite-box{
			.product-box__item{
				width: calc(100% / 2);
			}
		}
		&.product-box-carousel{
			.slick-slide{
				margin: 0 0 20px;
			}
			.slick-prev,
			.slick-next {
				top: 165px;
			}
		}
	}

	.product-box-badge{
		top: 7px;
		left: 10px;
		.product-box-badge__item{
			height: 20px;
			font-size: 14px;
			line-height: 22px;
		}
	}

	.product-name{	
		font-size: 14px;
		line-height: 18px;
	}
	.product-price{
		font-size: 18px;
		line-height: 18px;
		.product-price__old{
			font-size: 15px;
			line-height: 18px;
			padding: 0 0 0 10px;
		}
	}
	.product-but-favorite{
		.yupe-store-favorite-add,
		.yupe-product-favorite-add{
			.ic-favorite{
				background-position: 0 0;
				&:hover{
					background-position: 0 -16px;
				}
			}
		}
		.yupe-store-favorite-remove,
		.yupe-product-favorite-remove{
			.ic-favorite{
				background-position: 0 -32px;
				&:hover{
					background-position: 0 -48px;
				}
			}
		}
	}
}

@media (max-width: 480px){
	.product-box{
		.product-box__item{
			width: calc(100% / 2);
			padding: 25px 8px 8px;
		}
		.product-box__img{
			height: 150px;
		}
		.product-box__info{
			height: calc(100% - 150px);
			padding: 6px 0 0;
		}
		.product-box__name{
			padding: 7px 0 0;
			line-height: 1.2;
		}
		.product-box__price{
			min-height: 36px;
		}
		.product-box__bottom{
			padding: 10px 0 0;
		}
		.product-box__but{
			width: 121px;
		}
		.product-box__favorite{
			opacity: 1;
			top: 7px;
			right: 12px;
		}
		&.favorite-box{
			.product-box__item{
				width: calc(100% / 2);
			}
		}
		&.product-box-carousel{
			.slick-slide{
				margin: 0 0 20px;
			}
			.product-box__name{
				padding: 7px 0;
			}
			.slick-prev,
			.slick-next {
		        width: 32px;
		        height: 32px;
				top: 165px;
			}
		    .slick-prev {
		        left: -14px;
		    }
		    .slick-next {
		        right: -14px;
		    }
		}
	}
	.imagesDots-list{
		display: none;
		top: 7px;
	}

	.product-box-badge{
		top: 3px;
		left: 7px;
		.product-box-badge__item{
			height: 18px;
			font-size: 13px;
			line-height: 20px;
		}
	}

	.product-name{	
		font-size: 14px;
		line-height: 16px;
	}

	.product-price{
		position: relative;
		font-size: 18px;
		line-height: 18px;
		.product-price__discountPercent{
			position: absolute;
			top: 2px;
		    right: 0;
		    padding: 0;
		    width: auto;
		}
		.product-price__res{
			order: 2;
		}
		.product-price__old{
			order: 1;
			display: block;
			width: 100%;
			font-size: 15px;
			line-height: 18px;
			padding: 0 0 3px;
		}
	}

	.discount-percent{
		width: 35px;
		font-size: 11px;
		line-height: 12px;
		&:after{
		    width: 35px;
    		height: 20px;
			@include transform(translateY(-4px));
		}
	}

	.product-box-listView{
		.product-box{
			.product-box__item{
				@include flexbox();
				width: calc(100% + 20px);
				padding: 15px 10px;
				margin: 0 -10px;
				min-height: 156px;
			}
			.product-box__img{
				width: 136px;
				height: 100%;
				source, img{
					max-height: 100%;
				}
			}
			.product-box__info{
				width: calc(100% - 136px);
				height: 100%;
				padding: 0 0 0 12px;
			}
			.product-box__price{
				&.product-price{
					.product-price__discountPercent{
						position: relative;
						top: auto;
						right: auto;
						order: 2;
						margin: 0 0 6px 20px;
					}
					.product-price__res{
						order: 3;
					    width: 100%;
					}
					.product-price__old{
					    width: auto;
					}
				}
			}
			.product-box__favorite{
				top: auto;
				right: auto;
			    left: 275px;
				bottom: 22px;
			}
			.product-box__but{
				width: 110px;
				.but{
					height: 32px;
				}
			}
			/*.product-box__name{
				line-height: 1.1;
				padding: 8px 0 10px;
			}
			.product-box__bottom{
				width: 172px;
			}*/
		}
	}
}
@media (max-width: 360px){
	.product-box-listView{
		.product-box{
			.product-box__item{
				min-height: 175px;
			}
			.product-box__img{
				width: 126px;
			}
			.product-box__info{
				width: calc(100% - 126px);
			}
			.product-box__favorite{
				left: 265px;
			}
		}
	}
}