.lk-form{
	width: 420px;
	margin: 0 auto;
	.lk-form__box{
		width: 400px;
		margin: 0 auto;
		padding: 40px 50px;
		background: #fff;
		border: 1px solid #f0f0f0;
		@include box-shadow(0 5px 15px rgba(0,0,0,0.05));
	}
	.lk-form__bottom{
		color: #000;
	    font-size: 14px;
		text-align: center;
		padding: 30px 0;
		a{
			font-size: 16px;
			padding: 3px 0 0;
		}
	}
	.form-my{
		.terms_of_use{
			text-align: center;
		}
		input[type="submit"], button{
			width: 100%;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

.lk-form-header{
    padding: 0 0 30px;
	h1{
		font-size: 24px;
	    margin: 0;
    	padding: 0 !important;
	    text-align: center;
	}
	.lk-form-header__desc{
		color: rgba(#000, 0.9);
	    text-align: center;
	    padding: 10px 0 0;
	}
}

.login-form{
	.login-form__item{
		position: relative;
		padding: 20px 0px 0px;
	}
	.login-form__link{
		position: absolute;
		top: 2px;
	    right: 10px;
	    color: #000;
	    font-size: 13px;
	    line-height: 1;
	    text-decoration: underline;
	}
	.form-group {
    	margin: 0 0 20px;
    }
	.form-button{
		button{
			width: auto;
		}
	}
}

.form-white{
	.file-upload{
		text-align: center;
		span {
			#count_file{
				margin: 10px 0 0;
			}
		}
	}
}

@media (max-width: 480px){
	.lk-form{
		width: 100%;
		.lk-form__box{
			width: 100%;
			padding: 30px 0;
			form{
				width: 305px;
				margin: 0 auto;
			}
		}
	}

	.form-white{
		.file-upload{
			text-align: left;
		}
	}
}


@media (max-width: 400px){
	.lk-form{
		.lk-form__box{
			form{
				width: 260px;
				margin: 0 auto;
			}
		}
		.form-captcha{
			width: 258px;
			height: 64px;
			margin: 0 0 20px;
			.g-recaptcha{
				@include transform(scale(0.85));
			}
		}
	}
}