.lk-registation{
	width: 480px;
	margin: 15px auto 0;
	.lk-registation__box{
		width: 405px;
		margin: 0 auto;
		padding: 40px 50px;
		background: #fff;
		border: 1px solid #f0f0f0;
		@include box-shadow(0 5px 15px rgba(0,0,0,0.05));
	}
	.lk-registation__bottom{
		color: #000;
	    font-size: 14px;
		text-align: center;
		padding: 30px 0;
		a{
			font-size: 16px;
			padding: 3px 0 0;
		}
	}
	h1, h2{
		text-transform: none;
		line-height: 1.2;
		text-align: center;
		padding: 0 0 30px;
	}
	.form-group{
		input, textarea{
			height: 45px;
		}
	}
	#RegistrationForm_type_user{
		@include flexbox();
		padding: 0 0 30px;
		.radio-type-template{
			width: 50%;
		}
	}
	.form-button{
		button{
			margin: 20px auto 0;
		}
	}
	.terms_of_use{
		text-align: center;
	}
}

@media (max-width: 640px){
	.lk-registation{
		width: 430px;
		margin: 15px auto 0;
		.lk-registation__box{
			width: 405px;
			margin: 0 auto;
			padding: 40px 50px;
		}
		.lk-registation__bottom{
			padding: 30px 0;
			a{
				font-size: 16px;
				padding: 3px 0 0;
			}
		}
		h1, h2{
			font-size: 28px;
			line-height: 1.2;
			padding: 0 0 30px;
		}
		.form-group{
			input, textarea{
				height: 45px;
			}
		}
		#RegistrationForm_type_user{
			padding: 0 0 30px;
			.radio-type-template{
				width: 50%;
			}
		}
		.form-button{
			button{
				margin: 20px auto 0;
			}
		}
	}
}

@media (max-width: 480px){
	.lk-registation{
		width: 100%;
		.lk-registation__box{
			width: 100%;
			margin: 0 auto;
			padding: 35px 20px;
		}
		.lk-registation__bottom{
			padding: 30px 0;
			a{
				font-size: 15px;
				padding: 3px 0 0;
			}
		}
		h1, h2{
			font-size: 26px;
			line-height: 1.2;
			padding: 0 0 30px;
		}
		.form-group{
			input, textarea{
				height: 45px;
			}
		}
		#RegistrationForm_type_user{
			padding: 0 0 30px;
			.radio-type-template{
				width: 50%;
			}
		}
		.form-button{
			button{
				margin: 20px auto 0;
			}
		}
	}
}

@media (max-width: 360px){
	.lk-registation{
		.form-bot{
			.form-captcha{
				position: relative;
				display: block;
				vertical-align: middle;
				height: 74px;
			    left: -18px;
    			top: 0px;
				display: block;
				margin: 0 auto 10px;
				@include transform(scale(0.85));
				@include border-radius(4px);
				.help-block{
					position: absolute;
					display: block;
				}
			}
		}
	}
}