.lk-content{
	width: 100%;
	font-size: 16px;
	overflow: hidden;
	padding: 0px 0px 60px;
	h1{
		padding: 5px 0 20px;
	}
	&.lk-content-form{
		padding: 60px 0;
	}
}

.lk-content-head{
	padding: 15px 0 0;
	a{
		color: $colorBlack;
	    font-size: 18px;
	    line-height: 1.2;
	    padding: 10px 0 0;
		span{
			padding: 0 5px 0 0;
		}
		svg{
			width: 13px;
			height: 13px;
			@include transition(transform 0.2s ease-out);
			path{
				fill: $colorBlack;
			}
		}
		&:hover{
			color: $color0074FF;
			svg{
				@include transform(translateX(-3px));
				path{
					fill: $color0074FF;
				}
			}
		}
	}
}


.lk-box{
	margin: 20px 0px 0px;
	.lk-box__menu{
		position: relative;
	}
	.lk-box__content{
		padding: 30px 20px;
		h3{
			color: $colorBlack;
			font-size: 18px;
			font-weight: normal;
			line-height: 1.3;
			text-transform: uppercase;
			margin: 0px 0 25px;
			padding: 0;
		}
		h4{
			color: $colorBlack;
			font-size: 18px;
			font-weight: normal;
			line-height: 1.3;
			text-transform: uppercase;
			margin: 0;
			padding: 15px 0;
		}
	}
}

.lk-menu{
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: 2px solid $colorD9DDE8;
	li{
		position: relative;
		height: 100%;
		border-right: none;
		margin: 0 0 -1px 0;
		padding: 0 30px;
		@include border-radius(10px 10px 0 0);
		a{
			@include flexbox();
			@include align-items(center);
			height: 100%;
			color: $colorBlack;
			font-size: 16px;
			font-weight: normal;
			line-height: 1.1;
			text-transform: uppercase;
			@include transition(all .3s linear);
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 0;
			opacity: 0;
			background: $color0074FF;
			@include transition(all .3s linear);
		}
		&:last-child{
		}
		&:hover{
			a{
				color: $color0074FF;
			}
		}
		&.active{
			a{
				color: $color0074FF;
			}
			&:after{
				height: 3px;
				opacity: 1;
			}
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
}

@media (max-width: 1240px){
	.lk-content{
		padding: 0px 0px 50px;
		h1{
			padding: 5px 0 20px;
			font-size: 30px;
		}
	}
	.lk-box{
		.lk-box__content{
			padding: 40px 30px;
			h3{
				font-size: 15px;
				margin: -10px 0 30px;
				padding: 0;
			}
			h4{
				font-size: 15px;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	.lk-menu{
		li{
			padding: 12px 12px 10px;
			a{
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 1000px){
	.lk-content{
		padding: 0px 0px 45px;
		h1{
			padding: 5px 0 20px;
			font-size: 28px;
		}
	}
	.lk-box{
		.lk-box__content{
			padding: 40px 20px;
			h3{
				font-size: 14px;
				margin: 0px 0 20px;
				padding: 0;
			}
			h4{
				font-size: 14px;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	.lk-menu{
		li{
			padding: 8px 10px 8px;
			a{
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 768px){
	.lk-content{
		padding: 0px 0px 40px;
		h1{
			padding: 5px 0 20px;
			font-size: 26px;
		}
	}
	.lk-box{
		.lk-box__content{
			padding: 30px 20px;
			h3{
				font-size: 13px;
				margin: 0px 0 20px;
				padding: 0;
			}
			h4{
				font-size: 13px;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	.lk-user-info{
		.lk-user-info__heading{
			display: inline-block;
			vertical-align: top;
		}
		.lk-user-info__body{
			display: inline-block;
			vertical-align: top;
		}
	}
	.lk-menu{
		li{
			a{
				font-size: 13px;
			}
		}
	}
}

@media (max-width: 640px){
	.lk-content{
		padding: 0px 0px 40px;
		h1{
			padding: 5px 0 20px;
			font-size: 24px;
		}
		&.lk-content-form{
			padding: 30px 0;
		}
	}

	.lk-content-head{
		a{
		    font-size: 16px;
		    line-height: 1.2;
		}
	}

	.lk-box{
		.lk-box__content{
			padding: 20px 0;
		}
	}
	.lk-menu{
		width: 100%;
		li{
			a{
				@include justify-content(center);
			}
		}
	}
}

@media (max-width: 480px){
	.lk-content{
		padding: 0px 0px 30px;
		h1{
			padding: 5px 0 20px;
			font-size: 24px;
		}
	}
	.lk-menu{
		@include flexbox();
		width: 100%;
		height: auto;
		margin: 0 0 20px;
		li{
			float: none;
		}
	}
}

@media (max-width: 480px){
	.lk-content{
		&.lk-content-form{
			padding: 10px 0;
		}
	}
}