
$fontUbuntu: 'Ubuntu', sans-serif;;

$colorWhite: #FFFFFF;
$colorBlack: #212121;
$color323232: #323232;
$color454545: #454545;
$color757575: #757575;
$colorEEF2FB: #EEF2FB;
$colorD9DDE8: #D9DDE8;
$colorDEDEDE: #DEDEDE;
$colorF2F3F5: #F2F3F5;
$colorF5F5F5: #F5F5F5;
$colorE0EAF4: #E0EAF4; 
$colorCCCCCC: #CCCCCC; 
$colorFFF01B: #FFF01B; 
$colorEC4700: #EC4700; 
$colorFF0000: #FF0000; 
$color0074FF: #0074FF; // Наведения, ссылки, кнопки
$color0061D4: #0061D4; // Цвет при наведение