.steps-box{
	position: relative;
	display: flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;

	-ms-flex-pack: justify;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	background: #F4F5F8;
	.steps-box__item{
		position: relative;
		z-index: 2;
		display: flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;

		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;

		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;

		width: calc(100% / 6);
		&:before{
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 16px;
			left: 0;
			width: 100%;
			height: 4px;
			background: rgba(#454545, .5);
			background: #9F2B7C; //
		}

		&:last-child{
			position: absolute;
			right: 0;
			top: 0;
			-webkit-box-align: end;
		    -moz-box-align: end;
		    -ms-flex-align: end;
			-webkit-align-items: flex-end;
			align-items: flex-end;
			.steps-box__figure{
				&:after{
					left: calc(50% - 22px) !important;
				}
			}
			&:after{
				width: calc(50% - 22px) !important;
				left: calc(50%) !important;
			}
			.steps-box__name{
				margin-left: 0;
				margin-right: 18px;
				&:before{
					left: auto;
					right: 0;
				}
			}
			&:before{
				display: none;
			}
		}
		&.active{
			.steps-box__figure{
				div{
					&:after{
						background: #9F2B7C;
						opacity: 1;
					}
				}
			}
			.steps-box__name{
				opacity: 1;
			}
			&:before{
				background: #9F2B7C;
			}
			& ~ .steps-box__item:not(.active){
				.steps-box__figure{
					div{
						&:after{
						    background: #9C9D9E;
    						opacity: 1;
						}
					}
				}
				.steps-box__name{
					opacity: .5;
				}
				&:before{
					background: rgba(#454545, .5);
				}
			}
			& + .steps-box__item:not(.active){
				.steps-box__figure{
					&:after{
						content: '';
						display: block;
						position: absolute;
						z-index: 1;
						top: 0;
					    left: calc(-50% - 0px);
						width: 52px;
						height: 46px;
						background: url('../images/figure-select.svg') no-repeat;
					}
				}
				&:after{
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: 16px;
					left: -50%;
					width: 100%;
					height: 4px;
					background: #9d9d9f;
				}
			}
			& + .steps-box__item.nodate, & + .steps-box__item.noactive{
				.steps-box__figure{
					&:after{
						top: -5px;
						left: calc(-100% - 7.5px);
					}
				}
				&:after{
					left: calc(-100% + 36px);
				}
			}
			& + .steps-box__item.nodate{
				.steps-box__figure{
					&:after{
						top: -5px;
						left: calc(-100% - 16.5px);
					}
				}
				&.last{
					.steps-box__figure{
						&:after{
							left: -16px !important;
						}
					}
					&:after{
						width: calc(100% - 22px) !important;
						left: 0 !important;
					}
				}
			}
			&:last-child{
				.steps-box__figure{
					&:after{
						content: '';
						display: block;
						position: absolute;
						z-index: 1;
						top: -5px;
						left: auto !important;
					    right: -7.5px;
						width: 52px;
						height: 46px;
						background: url('../images/figure-select.svg') no-repeat;
					}
				}
			}
		}
		&.noactive{
			.steps-box__figure{
				width: 20px;
				height: 36px;
				padding: 0;
				background: transparent;
				div{
					width: 100%;
					height: 100%;
					&:before{
						display: none;
						background: #F4F5F8;
					}
					&:after{
						width: 10px;
						height: 10px;
						top: calc(50% - 5px);
						left: calc(50% - 5px);
    					z-index: -1;
					}
				}
			}
			/*.steps-box__figure{
				// display: none;
				background: transparent;
				div{
					display: none;
				}
			}*/
			.steps-box__name{
				margin: 0 0 0 9px;
				-webkit-transform: translateX(-50%);
			       -moz-transform: translateX(-50%);
			        -ms-transform: translateX(-50%);
			         -o-transform: translateX(-50%);
			            transform: translateX(-50%);
				&:before{
					// display: none;
					top: 10px;
					width: 1px;
					height: 16px;
					left: 50%;
				}
			}
		}
	}
	.steps-box__figure{
		// position: relative;
    	// z-index: 1;
		width: 36px;
		height: 36px;
		padding: 8px;
		background: #F4F5F8;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		div{
			position: relative;
			width: 20px;
			height: 20px;
			&:before, &:after{
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
				border-radius: 50%;
			}
			&:before{
				background: #F4F5F8;
			}
			&:after{
				z-index: 0;
				width: calc(100% + 8px);
				height: calc(100% + 8px);
				top: -4px;
				left: -4px;
				background: #454545;
				background: #9F2B7C; //
				opacity: .5;
				opacity: 1; //
			}
		}
	}
	.steps-box__name{
		position: relative;
		display: flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;

		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;

		-webkit-box-pack: end;
		-moz-box-pack: end;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		justify-content: flex-end;

		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #212121;
		opacity: .5;
		opacity: 1; //
		min-height: 32px;
		margin: 58px 0 0 18px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: -10px;
			width: 1px;
			height: 40px;
			background: #757575;
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			transform: translateY(-100%);
		}
	}
	.steps-box__desc{
		position: absolute;
		opacity: 0;
	}
}

@media (max-width: 1024px){
	.steps-box{
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-direction: normal;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.steps-box__item{
			width: calc(100% / 1);
			min-height: 130px;
			&:before{
				top: 0;
				left: 16px;
				width: 4px;
				height: 100%;
			}
			&:last-child{
				position: relative;
				right: auto;
				top: auto;
				-webkit-box-align: start;
			    -moz-box-align: start;
			    -ms-flex-align: start;
				-webkit-align-items: flex-start;
				align-items: flex-start;
				.steps-box__figure{
					&:after{
						left: -8px !important;
					}
				}
				&:after{
					width: 4px !important;
					height: calc(50% - 22px) !important;
					left: 16px !important;
				}
				.steps-box__name{
					margin: 9px 0 0 50px;
					&:before{
						left: 0;
						right: auto;
					}
				}
				&:before{
					display: none;
				}
			}
			&.active{
				.steps-box__name{
					margin: 0 0 0 50px !important;			
				}
				& + .steps-box__item:not(.active){
					.steps-box__figure{
						&:after{
						    top: calc(-50% - 60px);
						    left: -8px;
						}
					}
					&:after{
						top: -50%;
						left: 16px;
						width: 4px;
						height: 100%;
					}
				}
				& + .steps-box__item.nodate, & + .steps-box__item.noactive{
					.steps-box__figure{
						&:after{
							left: -8px;
							top: calc(-100% - 115px);
						}
					}
					&:after{
						left: 16px;
						top: calc(-100% + 36px);
					}
				}
				& + .steps-box__item.nodate{
					.steps-box__figure{
						&:after{
							
						}
					}
				}
				& + .steps-box__item.nodate{
					.steps-box__figure{
						&:after{
							left: -8px;
							top: calc(-100% - 104px);
						}
					}
					&.last{
						.steps-box__figure{
							&:after{
							    top: calc(-100% - 104px) !important;
    							left: -8px!important;
							}
						}
						&:after{
							width: 4px!important;
						    height: calc(100% - 22px)!important;
						    top: calc(-100% + 22px)!important;
						    left: 16px !important;
						}
					}
				}
				&:last-child{
					.steps-box__figure{
						&:after{
							top: -12px;
							left: auto !important;
						    right: -8px;
						}
					}
					.steps-box__name{
						margin: 9px 0 0 50px !important;			
					}
				}
			}
			&.noactive{
				.steps-box__figure{
					width: 36px;
					height: 20px;
					div{
						&:after{
							z-index: -1;
						}
					}
				}
				.steps-box__name{
					margin: 0 0 0 30px;
					-webkit-transform: translateY(0);
				       -moz-transform: translateY(0);
				        -ms-transform: translateY(0);
				         -o-transform: translateY(0);
				            transform: translateY(0);
					&:before{
						display: none;
					}
				}
			}
		}
		.steps-box__figure{
			position: absolute;
			top: 0;
			left: 0;
		}
		.steps-box__name{
			min-height: auto;
			margin: 0 0 0 50px;
			&:before{
				display: none;
			}
		}
	}
}