.spinput {
    position: relative;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: auto;
    height: 45px;
    color: $color757575;
    font-size: 18px;
    line-height: 1.0;
    padding: 0 15px;
    font-family: 'PT Sans', Tahoma, sans-serif;
    @extend .back-bord;
    .spinput__minus, .spinput__plus {
        position: relative;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        width: auto;
        line-height: 1.5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        &::before {
            font-size: 130%;
            content: '\2212';
        }
        &:hover, &:focus, &:active{
            color: $color03A300;
        }
    }
    .spinput__plus {
        &::before {
            content: '\2b';
        }
    }
    .spinput__value {
        margin: 0;
        width: 50px;
        height: 100%;
        background-color: transparent;
        text-align: center;
        vertical-align: baseline;
        border: none;
        color:$color212121;
        font-family: $familyRegular;
        text-align: center;
        text-align: center;
        &:hover, &:focus, &:active{
            outline: 0;
            @include box-shadow(none);
        }
    }
}

@media (max-width: 1600px){
    .spinput {
        height: 40px;
        font-size: 16px;
        line-height: 1.0;
        padding: 0 10px;
        .spinput__value {
            width: 40px;
        }
    }
}

@media (max-width: 1240px){
    .spinput {
        height: 38px;
        font-size: 15px;
        line-height: 1.0;
        padding: 0 7px;
        .spinput__value {
            width: 36px;
        }
    }
}

@media (max-width: 1000px){
    .spinput {
        height: 36px;
        font-size: 14px;
        line-height: 1.0;
        padding: 0 6px;
        .spinput__value {
            width: 36px;
        }
    }
}
